<template>
  <page-skeleton-loader v-if="isLoading" />

  <v-container
    class="page"
    fluid
    v-else-if="structure !== false"
    :id="`${namespace}`"
  >
    <component
      v-for="(child, i) in children"
      :is="getPage(child.type)"
      :key="`${id}-${i}`"
      :value="child"
      :api="api_name"
    />
  </v-container>

  <not-found v-else />
</template>

<script lang="ts">
// Utilities
import Vue from "vue";
import {
  getPage,
  getComponent,
  waitForReadystate
} from "@/utils/componentHelpers";
import { isNumber } from "@/utils/helpers";

import { loadApi } from "@/mixins/Apindex";

import { get, sync } from "vuex-pathify";
import { camelCase, kebabCase, upperFirst } from "lodash";

const pause = (ms: number | undefined = 100) =>
  new Promise(resolve => setTimeout(resolve, ms));

async function load({ route, store }): Promise<void> {
  const namespace = kebabCase(route.namespace);
  const page = !isNumber(route.page)
    ? upperFirst(camelCase(route.page))
    : "detail";
  const id = route.id;
  const setStructure = async (structure?: boolean | null) =>
    await store.commit("documentation/SET_STRUCTURE", structure);

  setStructure(null);

  this.isLoading = true;

  try {
    const res = (await import(`@/data/pages/app/${namespace}/${page}.json`))
      .default;
    console.log("DEFAULT_PAGE_DATA: \t", res);
    await pause(1000);
    if (res["api"]) await loadApi(store, res["api"]);
    setStructure(res);
  } catch (err) {
    console.warn("ERROR_PAGE_DATA: \t", err);
    setStructure(false);
  }

  this.isLoading = false;
}

// async function loadApi(store: any, apiKeys: string) {
//   console.log("loadApi callback");

//   const setAPI = async (api?: boolean | null) =>
//     await store.commit("api/SET_API", api);
//   setAPI(null);
//   try {
//     const API_MODULES = (await import("@/services/index")).modules;
//     const moduleKeys = Object.keys(API_MODULES) as string[];
//     if (moduleKeys.includes(apiKeys)) {
//       const service = new API_MODULES[apiKeys].service();
//       setAPI(service);
//     } else {
//       console.log("Not in array of keys", [apiKeys], "in", moduleKeys);
//       setAPI(false);
//     }
//   } catch (err) {
//     console.warn("ERROR_LOADING_API: \t", err);
//   }
// }

export default Vue.extend({
  name: "Page",

  components: {
    NotFound: () => import("@/views/general/404"),
    PageSkeletonLoader: () => import("./SkeletonLoader")
  },

  provide() {
    return { id: this.id };
  },

  data: () => ({ isLoading: false }),

  computed: {
    ...sync("route@params", ["namespace", "page", "id"]),
    children: get("documentation/structure"),
    api_name: get("documentation/api_name"),
    structure: sync("documentation/structure"),
    id() {
      if (!this.structure) return "";

      return this.page;
    }
    // text() {
    //   if (!this.structure) return "";

    //   return `${camelCase(this.namespace as string)}.${camelCase(
    //     this.page as string
    //   )}.${camelCase(this.page as string)}.headingText`;
    // }
  },
  methods: {
    getComponent,
    getPage,
    load,
    async onRouteChange() {
      // console.log("changed url");
      await this.load({
        store: this.$store,
        route: this.$route.params
      });
    }
  },
  watch: { "$route.path": "onRouteChange" },

  // asyncData: load,

  async mounted() {
    await waitForReadystate();

    await this.load({
      store: this.$store,
      route: this.$route.params
    });
    // console.log("API STORE", this.API);
  }

  // watch: {
  //   "$route.path": {
  //     immediate: true,
  //     handler() {
  //       console.log("hello world", this.children);

  //       this.onRouteChange();
  //     }
  //   }
  // }
});
</script>

<style lang="sass">
.page > section
  &:first-child,
  &:last-child
    margin-bottom: 0 !important
</style>
