<template>
  <div class="pt-6">
    <v-skeleton-loader
      transition-group="scroll-y-transition"
      type="table-heading, image, image, image"
    />
  </div>
</template>

<script>
export default {
  name: "PageSkeletonLoader",

  data: () => ({
    types: { spacer: "spacer" }
  })
};
</script>

<style lang="sass">
.v-skeleton-loader__spacer
  margin: 8px 0
</style>
