<template>
  <v-banner app single-line :sticky="sticky">
    We can't save your edits while you are in offline mode.
    <template v-slot:actions>
      <v-btn text color="deep-purple accent-4">Get Online</v-btn>
    </template>
  </v-banner>
</template>
<script lang="ts">
import Vue from "vue";
import { mapMutations, mapState } from "vuex";
export default Vue.extend({
  name: "CoreBanner",
  //   show banner if event and services are going on

  data: () => ({
    sticky: false
  })
});
</script>

<style lang="sass">
#core-system-bar
  a
    text-decoration: none

  .core-system-bar__close
    position: absolute
    right: 0
</style>
