<template>
  <v-dialog
    v-model="eventValue"
    fullscreen
    hide-overlay
    eager
    origin="right center"
    transition="side-slide"
  >
    <v-card color="grey lighten-5">
      <v-toolbar dark color="transparent" flat prominent>
        <div class="flex-grow-1"></div>
      </v-toolbar>
      <v-container fill-height pa-5>
        <v-row align="center" justify="start" class="fill-height">
          <v-col :cols="step !== 4 ? 8 : 12">
            <v-card-title
              class="title font-weight-regular pb-12"
              v-if="step < 4"
            >
              <v-btn
                icon
                light
                x-large
                @click="eventValue = false"
                style="margin-left: -55px;"
              >
                <v-icon>mdi-close</v-icon>
              </v-btn>
              <span>Create a Event {{ currentTitle }}</span>
              <div class="flex-grow-1"></div>
              <span v-if="step > 1" class="text-capitalize">
                {{ eventName }}
              </span>
            </v-card-title>

            <v-window v-model="step">
              <v-window-item :value="1">
                <v-card-title
                  primary-title
                  class="display-1 font-weight-medium"
                >
                  Lets start with a name for
                  <br />your event
                </v-card-title>
                <v-card-text class="pt-4">
                  <v-text-field
                    label="Event name"
                    class="display-1"
                    autofocus
                    v-model="eventName"
                    :rules="eventNameRules"
                    required
                  ></v-text-field>
                  <span class="caption grey--text text--darken-1"
                    >We will give you an Id for this event</span
                  >
                </v-card-text>
              </v-window-item>

              <v-window-item :value="2">
                <v-card-title
                  primary-title
                  class="display-1 font-weight-medium"
                >
                  Get all the data you need to
                  <br />understand your users
                </v-card-title>
                <v-card-text>
                  <span class="caption grey--text text--darken-3">
                    Google Analytics helps you make better use of Expoleap. Find
                    out who your users are and what they do in your app. Use
                    marketing analytics to discover which campaigns brought
                    users to your app in the first place.
                  </span>
                  <v-row align="start" justify="start" class="pt-3">
                    <v-col cols="6" align="start" justify="start">
                      <span class="caption grey--text text--darken-1 pl-3"
                        >Google analytics entailes:</span
                      >
                      <v-list dense class="grey lighten-5">
                        <v-list-item :disabled="column === 'nogoogle'">
                          <v-list-item-icon>
                            <v-icon>
                              {{
                                column === "nogoogle"
                                  ? "mdi-close"
                                  : "mdi-flask"
                              }}
                            </v-icon>
                          </v-list-item-icon>
                          <v-list-item-content>
                            <v-list-item-title>A/B testing</v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>
                        <v-list-item :disabled="column === 'nogoogle'">
                          <v-list-item-icon>
                            <v-icon>
                              {{
                                column === "nogoogle"
                                  ? "mdi-close"
                                  : "mdi-brain"
                              }}
                            </v-icon>
                          </v-list-item-icon>
                          <v-list-item-content>
                            <v-list-item-title
                              >Predicting user behavior</v-list-item-title
                            >
                          </v-list-item-content>
                        </v-list-item>
                      </v-list>
                    </v-col>
                    <v-col cols="6">
                      <v-radio-group v-model="column" column>
                        <v-card
                          :outlined="column === 'google' ? false : true"
                          :flat="column === 'google' ? false : true"
                          class="my-1"
                        >
                          <v-container grid-list-xs>
                            <v-radio value="google">
                              <template v-slot:label>
                                <v-list-item>
                                  <v-list-item-content>
                                    <v-list-item-title>
                                      Set up Google Analytics for my event
                                    </v-list-item-title>
                                    <v-list-item-subtitle>
                                      Configure in the next step
                                    </v-list-item-subtitle>
                                  </v-list-item-content>
                                </v-list-item>
                              </template>
                            </v-radio>
                          </v-container>
                        </v-card>

                        <v-card
                          :outlined="column === 'nogoogle' ? false : true"
                          :flat="column === 'nogoogle' ? false : true"
                          class="my-1"
                        >
                          <v-container grid-list-xs>
                            <v-radio value="nogoogle">
                              <template v-slot:label>
                                <v-list-item>
                                  <v-list-item-content>
                                    <v-list-item-title
                                      >Not Right Now</v-list-item-title
                                    >
                                    <v-list-item-subtitle>
                                      Can be changed later in settings
                                    </v-list-item-subtitle>
                                  </v-list-item-content>
                                </v-list-item>
                              </template>
                            </v-radio>
                          </v-container>
                        </v-card>
                      </v-radio-group>
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-window-item>

              <v-window-item :value="3">
                <v-card-title
                  primary-title
                  class="display-1 font-weight-medium"
                >
                  Sign in with google to add
                  <br />google analytics to your event
                </v-card-title>
                <v-card-text class="pt-4">
                  <!-- google auth -->
                  <social-google-authenticate
                    ref="googleAuth"
                    :outside="false"
                  />
                  <v-btn
                    :loading="loading"
                    color="primary"
                    class="mb-2"
                    @click="googleSign"
                    v-if="!analytics"
                  >
                    <v-icon small left>mdi-google</v-icon>Sign In
                  </v-btn>
                  <v-icon color="success" v-if="analytics" class="pb-2 pr-1"
                    >mdi-account-check</v-icon
                  >
                  <span class="success--text" v-if="analytics"
                    >Successful login</span
                  >
                  <!-- google auth -->

                  <br />
                  <span class="caption grey--text text--darken-1">
                    Upon event creation, a new Google Analytics property will be
                    created in your chosen Google Analytics account and linked
                    to your Expoleap event. This link will enable data flow
                    between the products. Data exported from your Google
                    Analytics property into Expoleap is subject to the Expoleap
                    terms of service, while Expoleap data imported into Google
                    Analytics is subject to the Google Analytics terms of
                    service.
                    <a
                      target="__blank"
                      href="https://support.google.com/analytics/answer/9289234"
                      >Learn more</a
                    >.
                  </span>
                </v-card-text>
              </v-window-item>

              <v-window-item :value="4">
                <div class="pa-4 text-center">
                  <!-- <v-img
                      class="mb-3"
                      contain
                      height="120"
                      :src="require('@/assets/expoleap_logo.png')"
                  ></v-img>-->
                  <v-progress-circular
                    :rotate="-90"
                    :size="100"
                    :width="15"
                    :value="value"
                    color="primary"
                    >{{ value }}%</v-progress-circular
                  >
                  <h3 class="title font-weight-light my-1">
                    Welcome to Expoleap
                  </h3>
                  <span class="caption grey--text" v-if="value <= 50">
                    "Dont worry this process wont take long"
                  </span>
                  <span class="caption grey--text" v-else>
                    "Dont worry this process wont take long"
                  </span>
                </div>
              </v-window-item>
            </v-window>

            <v-card-actions v-if="step < 4">
              <v-btn
                :disabled="check"
                :color="step <= 1 ? 'primary' : null"
                x-large
                :text="step <= 1 ? false : true"
                @click="step == 1 ? step++ : step--"
                >{{ step === 1 ? "Continue" : "Previous" }}</v-btn
              >

              <!-- <v-btn :disabled="step === 1" text @click="step--">Back</v-btn> -->
              <div class="flex-grow-1" v-if="step !== 1"></div>
              <v-btn
                v-if="step !== 1"
                x-large
                :disabled="checkEnd"
                color="primary"
                depressed
                @click="eventStep()"
                >{{ continueBtn }}</v-btn
              >
            </v-card-actions>
            <v-card-actions v-else-if="value >= 100">
              <div class="flex-grow-1"></div>
              <v-btn
                x-large
                color="primary"
                class="text-capitalize"
                depressed
                @click="close"
                >Go to {{ eventName }} Event</v-btn
              >
              <div class="flex-grow-1"></div>
            </v-card-actions>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from "vue";
import { mapActions, mapState, mapMutations } from "vuex";
import { get, sync, call } from "vuex-pathify";
export default Vue.extend({
  components: {},
  // metaInfo: {
  //   title: "Login"
  // },
  data: () => ({
    //google
    authenticated: false,
    response: null,
    //google

    analytics: false,
    step: 1,
    column: "google",
    eventName: "",
    eventNameRules: [
      // v => !!v || 'Name is required',
      v => (v && v.length >= 9) || "Name must be more than 8 characters"
    ],
    //interval
    interval: {},
    value: 0,
    //interval

    dialog: false,
    loading: false,
    formTitle: "Terms"
  }),
  methods: {
    ...mapMutations("app", ["setEventDialog"]),
    close() {
      this.step = 1;
      this.column = "google";
      this.eventName = "";
      this.value = 0;
      clearInterval(this.interval);
      this.eventValue = false;
    },
    ...mapActions({
      fetchEventsList: "eventList/fetch",
      readEvent: "eventList/read"
    }),
    selectEvent(data: object) {
      this.loading = true;
      this.readEvent(data).then(() => {
        this.loading = false;
        this.$router.push({ name: "dashboard" });
      });
      console.log(data);
    },
    eventStep() {
      switch (this.step) {
        case 1:
          return this.step++;
        case 2:
          return this.column === "nogoogle" ? (this.step = 4) : this.step++;
        default:
          return this.step++;
      }
    },
    async googleSign() {
      this.loading = true;
      console.log("LOGS:", this.$refs.googleAuth);
      console.log("before", this.analytics);

      await this.$refs.googleAuth
        .authenticate("google")
        .then(() => {
          this.analytics = this.$refs.googleAuth.authenticated;
          console.log("after", this.analytics);
          this.loading = false;
        })
        .catch(() => {
          this.loading = false;
        });
    }
  },
  computed: {
    ...mapState({
      events: state => state.eventList.events
      // eventDialog: state => state.app.eventDialog
    }),
    eventValue: sync("app/eventDialog"),
    // eventValue: {
    //   get() {
    //     return this.eventDialog;
    //   },
    //   set(value) {
    //     this.setEventDialog(value);
    //   }
    // },
    gold() {
      return this.$refs.googleAuth.authenticated;
    },
    currentTitle() {
      switch (this.step) {
        case 1:
          return "(Step 1 of 3)";
        case 2:
          return this.column === "nogoogle" ? "(Step 2 of 2)" : "(Step 2 of 3)";
        case 3:
          return "(Step 3 of 3)";
        default:
          return "(Final Step)";
      }
    },
    check() {
      switch (this.step) {
        case 1:
          if (this.eventName.length >= 9) {
            return false;
          }
          return true;
        case 2:
          return false;
        default:
          return false;
      }
    },
    checkEnd() {
      switch (this.step) {
        case 3:
          return this.analytics == true ? false : true;
        default:
          return false;
      }
    },
    continueBtn() {
      switch (this.step) {
        case 1:
          return "Continue";
        case 2:
          return this.column === "nogoogle" ? "Create Event" : "Continue";
        case 3:
          return "Create Event";
        default:
          return "Create Event";
      }
    }
  },
  watch: {
    eventValue(val) {
      val || this.close();
      console.log("Event Dialog", val);
    },
    step() {
      if (this.step == 4) {
        this.interval = setInterval(() => {
          if (this.value >= 100) {
            clearInterval(this.interval);
            // this.close()
            return (this.value = 100);
          }
          this.value += 5;
        }, 400);
      } else {
        clearInterval(this.interval);
      }
    }
  },
  beforeDestroy() {
    clearInterval(this.interval);
  }
});
</script>
<style>
.up {
  margin-top: -180px;
}
.bgimage {
  /* background-image:  */
  /* linear-gradient(rgba(32, 57, 68, 0.776)),  url('../../assets/selectEvent.jpg');*/

  background-size: cover;
}

.side-slide-enter-active {
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.side-slide-leave-active {
  position: absolute;
  transition: all 0.3s;
  /* cubic-bezier(1, 0.5, 0.8, 1); */
}
.side-slide-enter, .side-slide-leave-to
/* .side-slide-leave-active below version 2.1.8 */ {
  transform: translateX(100%);
  opacity: 1;
}
</style>
