<template>
  <v-system-bar
    v-if="!hasClosedBanner"
    id="core-system-bar"
    app
    color="red"
    height="56"
    class="align-center"
  >
    <v-responsive class="mx-auto shrink pr-12" max-width="1280"></v-responsive>

    <v-btn
      class="core-system-bar__close mr-4"
      icon
      small
      @click.stop="hasClosedBanner = true"
    >
      <v-icon class="mr-0">mdi-close</v-icon>
    </v-btn>
  </v-system-bar>
</template>

<script lang="ts">
import Vue from "vue";
import { mapMutations, mapState } from "vuex";
export default Vue.extend({
  name: "CoreSystemBar",

  data: () => ({
    hasClosedBanner: false
  })
});
</script>

<style lang="sass">
#core-system-bar
  a
    text-decoration: none

  .core-system-bar__close
    position: absolute
    right: 0
</style>
