<template>
  <v-row class="fill-height px-2">
    <v-col sm="12" lg="2" class="mb-4 controls">
      <div class="text-center ma-2">
        <v-btn
          color="primary"
          class="mx-auto"
          :to="{
            name: 'calendar-event',
            params: { id: selectedEvent.calendar, ...splitDate() }
          }"
        >
          Create
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </div>
      <v-card flat class="elevation-0 mb-2">
        <v-date-picker flat reactive no-title full-width show-week color="primary"></v-date-picker>
      </v-card>
      <br />
      <calendar-list :start="start" :end="end" :events="events" />
    </v-col>
    <v-col>
      <v-sheet height="56">
        <v-toolbar flat short color="transparent">
          <template v-if="!searchMode">
            <v-btn outlined class="mr-4" color="grey darken-2" @click="setToday">Today</v-btn>
            <v-btn fab text small color="grey darken-2" @click="prev">
              <v-icon>mdi-chevron-left</v-icon>
            </v-btn>
            <v-btn fab text small color="grey darken-2" @click="next">
              <v-icon>mdi-chevron-right</v-icon>
            </v-btn>
            <v-toolbar-title class="grey--text text--darken-3">
              {{
              title
              }}
            </v-toolbar-title>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn icon color="grey darken-2" class="mr-1" v-on="on">
                  <v-icon>mdi-cached</v-icon>
                  <template v-slot:loader>
                    <span class="custom-loader">
                      <v-icon>mdi-cached</v-icon>
                    </span>
                  </template>
                </v-btn>
              </template>
              <span>Refresh</span>
            </v-tooltip>
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <v-btn icon color="grey darken-2" class="mr-1" v-on="on">
                  <v-icon>mdi-magnify</v-icon>
                </v-btn>
              </template>
              <span>Search</span>
            </v-tooltip>
            <v-menu bottom offset-y right>
              <template v-slot:activator="{ on }">
                <v-btn outlined color="grey darken-2" v-on="on">
                  <span>{{ typeToLabel[type] }}</span>
                  <v-icon right>mdi-menu-down</v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item
                  v-for="(item, i) in Object.keys(typeToLabel)"
                  :key="i"
                  @click="type = item"
                >
                  <v-list-item-content>
                    <v-list-item-title class="text-capitalize">
                      {{
                      item
                      }}
                    </v-list-item-title>
                  </v-list-item-content>
                  <v-list-item-action>
                    <div class="text-capitalize">{{ item.charAt(0) }}</div>
                  </v-list-item-action>
                </v-list-item>
                <v-divider></v-divider>
                <v-list-item
                  dense
                  @click="
                    weekdays == weekdaysDefault
                      ? (weekdays = weekdaysWork)
                      : (weekdays = weekdaysDefault)
                  "
                >
                  <v-list-item-action>
                    <v-icon v-if="weekdays === weekdaysDefault">mdi-check</v-icon>
                  </v-list-item-action>
                  <v-list-item-title class="font-weight-regular">Show weekends</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </template>
          <template v-else>
            <v-btn text fab small color="grey darken-2" @click="searchMode = false" class="mr-3">
              <v-icon>mdi-arrow-left</v-icon>
            </v-btn>
            <v-toolbar-title class="grey--text text--darken-3 d-none d-sm-flex mr-12">Search</v-toolbar-title>
            <v-form
              @submit.prevent="searchItems(events, queryEvents)"
              ref="searchForm"
              lazy-validation
            >
              <v-text-field
                width="500"
                v-model="queryEvents"
                @blur="searchMode = false"
                name="calendar-search"
                solo
                hide-details
                single-line
                autofocus
                prepend-inner-icon="mdi-magnify"
                label="Search"
                id="calendar-search-id"
              ></v-text-field>
            </v-form>
          </template>
        </v-toolbar>
      </v-sheet>
      <v-sheet height="750">
        <v-calendar
          ref="calendar"
          v-model="focus"
          :type="type"
          :min-weeks="minWeeks"
          :max-days="maxDays"
          :now="now"
          :dark="dark"
          :weekdays="weekdays"
          :first-interval="intervals.first"
          :interval-minutes="intervals.minutes"
          :interval-count="intervals.count"
          :interval-height="intervals.height"
          :interval-style="intervalStyle"
          :show-interval-label="showIntervalLabel"
          short-intervals
          :short-months="shortMonths"
          :short-weekdays="shortWeekdays"
          :color="color"
          :events="events"
          event-start="start_cal"
          event-end="end_cal"
          :event-overlap-mode="mode"
          :event-overlap-threshold="45"
          :event-color="getEventColor"
          :event-name="
            (e, time) => eventNameFunction(e, time, 'title', '(no title)')
          "
          @click:event="showEvent"
          @click:more="viewDay"
          @click:date="(e, n) => viewDay(e, n)"
          @change="updateRange"
        ></v-calendar>
        <v-menu
          v-model="selectedOpen"
          :close-on-content-click="false"
          :activator="selectedElement"
          offset-x
        >
          <v-card color="grey lighten-4" min-width="350px" flat>
            <v-toolbar :color="selectedEvent.color" dark>
              <v-btn icon>
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
              <v-toolbar-title v-html="selectedEvent.title"></v-toolbar-title>
              <v-spacer></v-spacer>
              <v-btn icon>
                <v-icon>mdi-heart</v-icon>
              </v-btn>
              <v-btn icon>
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
            </v-toolbar>
            <v-card-text>
              <span v-html="selectedEvent.description"></span>
            </v-card-text>
            <v-card-actions>
              <v-btn text color="secondary" @click="selectedOpen = false">Cancel</v-btn>
              <v-btn
                text
                color="secondary"
                :to="{
                  name: 'calendar-event',
                  params: {
                    id: selectedEvent.calendar,
                    eventId: selectedEvent.event,
                    ...splitDate(selectedEvent.original_start)
                  }
                }"
              >Route to</v-btn>
            </v-card-actions>
          </v-card>
        </v-menu>
        <!-- <v-menu
                @click="routeToEvent(selectedEvent.calendar, selectedEvent.event, selectedEvent.original_start)"

          v-model="selectedOpen"
          :close-on-content-click="false"
          :activator="selectedElement"
          offset-x
          transition="slide-x-transition"
          max-width="500px"
          min-width="350px"
        >
          <menu-info-card
            ref="menuCard"
            :selectedEvent="selectedEvent"
            :defaultEvent="defaultEvent"
            :deleteEvent="deleteEvent"
            :clientEvent="clientEvent"
            :saveEvent="save"
            :closeCard="closeCalendarMenu"
            :routeTo="routeToEdit"
            :isCreate="isCreate"
            :selectedOpen="selectedOpen"
            :selectedElement="selectedElement"
            :createEvent="createEvent"
          >
            <template v-slot:title="{ event }"></template>
          </menu-info-card>
        </v-menu>-->
      </v-sheet>

      <!-- <recurrence-save-dialog :recurrence="recurrence" ref="recurrenceSaveDialog"></recurrence-save-dialog> -->
    </v-col>

    <!-- <v-dialog :value="settingsPage" scrollable fullscreen transition="dialog-bottom-transition">
      <router-view :dialog.sync="settingsPage" @update-dialog="setSettingsPage"></router-view>
    </v-dialog>-->
  </v-row>
</template>
<script lang="ts">
const weekdaysDefault = [0, 1, 2, 3, 4, 5, 6];
const weekdaysWork = [1, 2, 3, 4, 5];

const intervalsDefault = {
  first: 0,
  minutes: 60,
  count: 24,
  height: 48
};

const stylings = {
  default(interval) {
    return undefined;
  },
  workday(interval) {
    const inactive =
      interval.weekday === 0 ||
      interval.weekday === 6 ||
      interval.hour < 9 ||
      interval.hour >= 17;
    const startOfHour = interval.minute === 0;
    const dark = this.dark;
    const mid = dark ? "rgba(255,255,255,0.1)" : "rgba(0,0,0,0.1)";

    return {
      backgroundColor: inactive
        ? dark
          ? "rgba(0,0,0,0.4)"
          : "rgba(0,0,0,0.05)"
        : undefined,
      borderTop: startOfHour ? undefined : "1px dashed " + mid
    };
  },
  past(interval) {
    return {
      backgroundColor: interval.past
        ? this.dark
          ? "rgba(0,0,0,0.4)"
          : "rgba(0,0,0,0.05)"
        : undefined
    };
  }
};
// import calendarComposition from '@/composition/schedule/calendar.composition'
// import appComposition from '@/composition/app/app.composition'
import {
  ref,
  computed,
  watch,
  createComponent,
  onMounted,
  reactive,
  toRefs
} from "@vue/composition-api";
// import scheduler from '@/composition/schedule/schedule.composition'
import { useRouter } from "@u3u/vue-hooks";

import {
  upperFirst,
  getPropertyFromItem,
  getNestedValue,
  searchItems,
  escapeHTML
} from "@/utils/helpers";
import dateFormat from "@/utils/dateFormat";

export default createComponent({
  name: "calendar",
  components: {
    // RecurrenceSaveDialog: () =>
    //   import('@/components/schedule/RecurrenceSaveDialog'),
    // MenuInfoCard: () => import('@/components/calendar/InfoCard'),
    // PanelList: () => import('@/components/calendar/PanelList'),
    // CalendarList: () => import('@/components/calendar/CalendarList'),
  },
  setup(_, ctx) {
    // const SCHEDULER = scheduler()
    // const {
    //   eventsNEW,
    //   eventIdList,
    //   calendarIdList,
    //   getCalendarList,
    //   getOccurrences,
    //   formatDate,
    //   // VUEX
    //   OCCURRENCES,
    //   SET_OCCURRENCES,
    //   GET_OCCURRENCES,
    //   SET_CALENDARS,
    //   GET_CALENDARS,
    //   GET_CALENDAR_IDS,
    //   $_scheduler,
    // } = SCHEDULER
    function diffMinutes(min: any, max: any) {
      const Y = (max.year - min.year) * 525600;
      const M = (max.month - min.month) * 43800;
      const D = (max.day - min.day) * 1440;
      const h = (max.hour - min.hour) * 60;
      const m = max.minute - min.minute;
      return Y + M + D + h + m;
    }

    const { route, router } = useRouter();

    const updateRange = async ({ start, end }) => {
      // switch (calendar.type) {
      //   case 'day':
      //     break
      //   default:
      calendar.start = start;
      calendar.end = end;
      getOccurrences(await GET_CALENDAR_IDS.value, start.date, end.date);
      // }
      // console.log('EVENTS', ctx.refs.calendar.getVisibleEvents())
    };

    const monthFormatter = computed(() => {
      return ctx.refs.calendar.getFormatter({
        timeZone: "UTC",
        month: "long"
      });
    });
    const queryEvents = ref("");
    const events = computed(() => {
      return searchItems(GET_OCCURRENCES.value, queryEvents.value);
    });

    const title = computed(() => {
      // console.log(events)
      // console.log(ctx.refs.calendar.getFormatter(val))

      const { start, end } = calendar;
      if (!start || !end) {
        return "";
      }

      const startMonth = monthFormatter.value(start);
      const endMonth = monthFormatter.value(end);
      const suffixMonth = startMonth === endMonth ? "" : endMonth;

      const startYear = start.year;
      const endYear = end.year;
      const suffixYear = startYear === endYear ? "" : endYear;

      const startDay = start.day + nth(start.day);
      const endDay = end.day + nth(end.day);

      switch (calendar.type) {
        case "month":
          return `${startMonth} ${startYear}`;
        case "week":
        case "schedule":
          return `${startMonth} ${startDay} ${startYear} - ${suffixMonth} ${endDay} ${suffixYear}`;
        case "day":
          return `${startMonth} ${startDay} ${startYear}`;
      }
      return "";
    });

    const intervalStyle = () => {
      return stylings[calendar.styleInterval].bind(ctx);
    };
    const hasIntervals = () => {
      return (
        calendar.type in
        {
          week: 1,
          day: 1,
          "4day": 1,
          "custom-daily": 1
        }
      );
    };
    const hasEnd = () => {
      return (
        calendar.type in
        {
          "custom-weekly": 1,
          "custom-daily": 1
        }
      );
    };

    const viewDay = (val, event) => {
      console.log(val, event);
      calendar.focus = val.date;
      calendar.type = "day";
    };
    const formatTime = (withTime, ampm) => {
      const suffix = ampm ? (withTime.hour < 12 ? "a" : "p") : "";
      const hour = withTime.hour % 12 || 12;
      const minute = withTime.minute;
      return minute > 0
        ? minute < 10
          ? `${hour}:0${minute}${suffix}`
          : `${hour}:${minute}${suffix}`
        : `${hour}${suffix}`;
    };
    const getEventColor = event => {
      return event.color;
    };
    const eventNameFunction = (event, timedEvent, eventName, fallback) => {
      const name = escapeHTML(
        getPropertyFromItem(event.input, eventName, fallback)
      );
      // const type = event.input['type']
      if (event.start.hasTime) {
        if (timedEvent) {
          const showStart = event.start.hour < 12 && event.start.hour >= 12;
          const start = formatTime(event.start, showStart);
          const end = formatTime(event.end, true);
          const singline =
            diffMinutes(event.start, event.end) <=
            calendar["event-overlap-threshold"];
          const separator = singline ? ", " : "<br>";
          return `<strong>${upperFirst(
            name
          )}</strong>${separator}${start} - ${end}`;
        } else {
          const time = formatTime(event.start, true);
          return `<strong>${time}</strong> ${name}`;
        }
      }
      return name;
    };

    const showIntervalLabel = interval => {
      return interval.minute === 0;
    };
    const setToday = () => {
      calendar.focus = calendar.today;
    };
    const prev = () => {
      ctx.refs.calendar.prev();
    };
    const next = () => {
      ctx.refs.calendar.next();
    };
    const showEvent = ({ nativeEvent, event }) => {
      console.log(nativeEvent, event);

      const open = () => {
        calendar.selectedEvent = event;
        calendar.selectedElement = nativeEvent.target;
        setTimeout(() => (calendar.selectedOpen = true), 10);
      };

      if (calendar.selectedOpen) {
        calendar.selectedOpen = false;
        setTimeout(open, 10);
      } else {
        open();
      }

      nativeEvent.stopPropagation();
    };
    function getInputData(e) {
      console.log(e);
    }
    const nth = d => {
      return d > 3 && d < 21
        ? "th"
        : ["th", "st", "nd", "rd", "th", "th", "th", "th", "th", "th"][d % 10];
    };
    const rnd = (a, b) => {
      return Math.floor((b - a + 1) * Math.random()) + a;
    };

    const recurrence = ref(0);
    const calendar = reactive({
      settingsDialog: false,
      dark: false,
      startMenu: false,
      "event-overlap-threshold": 60,
      endMenu: false,
      today: "2020-01-03",
      nowMenu: false,
      minWeeks: 1,
      now: null,
      // events: [],
      colors: [
        "blue",
        "indigo",
        "deep-purple",
        "cyan",
        "green",
        "orange",
        "grey darken-1"
      ],
      names: [
        "Meeting",
        "Holiday",
        "PTO",
        "Travel",
        "Event",
        "Birthday",
        "Conference",
        "Party"
      ],
      type: "month",
      typeOptions: [
        { text: "Day", value: "day" },
        { text: "4 Day", value: "4day" },
        { text: "Week", value: "week" },
        { text: "Month", value: "month" },
        { text: "Custom Daily", value: "custom-daily" },
        { text: "Custom Weekly", value: "custom-weekly" }
      ],
      mode: "column",
      modeOptions: [
        { text: "Stack", value: "stack" },
        { text: "Column", value: "column" }
      ],
      weekdays: weekdaysDefault,
      weekdaysOptions: [
        { text: "Sunday - Saturday", value: weekdaysDefault },
        { text: "Mon, Wed, Fri", value: [1, 3, 5] },
        { text: "Mon - Fri", value: [1, 2, 3, 4, 5] },
        { text: "Mon - Sun", value: [1, 2, 3, 4, 5, 6, 0] }
      ],
      intervals: intervalsDefault,
      intervalsOptions: [
        { text: "Default", value: intervalsDefault },
        {
          text: "Workday",
          value: { first: 16, minutes: 30, count: 20, height: 48 }
        }
      ],
      maxDays: 7,
      maxDaysOptions: [
        { text: "7 days", value: 7 },
        { text: "5 days", value: 5 },
        { text: "4 days", value: 4 },
        { text: "3 days", value: 3 }
      ],
      styleInterval: "default",
      styleIntervalOptions: [
        { text: "Default", value: "default" },
        { text: "Workday", value: "workday" },
        { text: "Past", value: "past" }
      ],
      color: "primary",
      colorOptions: [
        { text: "Primary", value: "primary" },
        { text: "Secondary", value: "secondary" },
        { text: "Accent", value: "accent" },
        { text: "Red", value: "red" },
        { text: "Pink", value: "pink" },
        { text: "Purple", value: "purple" },
        { text: "Deep Purple", value: "deep-purple" },
        { text: "Indigo", value: "indigo" },
        { text: "Blue", value: "blue" },
        { text: "Light Blue", value: "light-blue" },
        { text: "Cyan", value: "cyan" },
        { text: "Teal", value: "teal" },
        { text: "Green", value: "green" },
        { text: "Light Green", value: "light-green" },
        { text: "Lime", value: "lime" },
        { text: "Yellow", value: "yellow" },
        { text: "Amber", value: "amber" },
        { text: "Orange", value: "orange" },
        { text: "Deep Orange", value: "deep-orange" },
        { text: "Brown", value: "brown" },
        { text: "Blue Gray", value: "blue-gray" },
        { text: "Gray", value: "gray" },
        { text: "Black", value: "black" }
      ],
      shortIntervals: true,
      shortMonths: false,
      shortWeekdays: false,
      focus: "",
      typeToLabel: {
        month: "Month",
        week: "Week",
        day: "Day"
        // '4day': '4 Days',
      },
      start: null,
      end: null,
      selectedEvent: {},
      selectedElement: null,
      selectedOpen: false,
      searchMode: false
    });
    const setSettingsPage = val => {
      settingsPage.value = val;
    };
    const routeToEvent = (calendarId, eventId, date) => {
      // :to="{name : 'calendar-event', params : { id: selectedEvent.calendar, eventId: selectedEvent.event, ...splitDate(dateFormat(selectedEvent.original_start, 'UTC:yyyy/mm/dd/HH/MM/ss')) }}"

      router.push({
        name: "calendar-event",
        params: { id: calendarId, eventId: eventId, ...splitDate(date) }
      });
    };
    function splitDate(date) {
      let newDate = dateFormat(date, "UTC:yyyy/mm/dd/HH/MM/ss");
      let [year, month, day, hour, minute, second] = newDate.split("/");
      const event = {
        year: year,
        month: month,
        day: day,
        hour: hour,
        minute: minute,
        second: second
      };
      return {
        ...event
      };
    }
    const settingsPage = computed({
      get: () => calendar.settingsDialog,
      set: val => (calendar.settingsDialog = val)
    });
    watch(route, async pageName => {
      // console.log('WATCH DATA', pageName)
      if (route.value.name === "calendar") {
        settingsPage.value = false;
      } else if (route.value.name === "calendar-settings") {
        settingsPage.value = true;
      } else if (route.value.name === "calendar-event") {
        settingsPage.value = true;
      }
    });

    return {
      SCHEDULER,
      eventsNEW,
      events,
      queryEvents,
      searchItems,
      updateRange,
      ...toRefs(calendar),
      title,
      intervalStyle,
      hasIntervals,
      hasEnd,
      viewDay,
      getEventColor,
      eventNameFunction,
      showIntervalLabel,
      setToday,
      prev,
      next,
      showEvent,
      rnd,
      weekdaysDefault,
      weekdaysWork,
      getInputData,

      // WORKD
      dateFormat,
      splitDate,
      recurrence,
      settingsPage,
      setSettingsPage,
      routeToEvent
    };
  }
});
</script>

<style>
.custom-loader {
  animation: loader 1s infinite;
  display: flex;
}
@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
</style>
