/* eslint-disable vue/valid-v-model */
<template>
  <v-form ref="form" v-model="valid" @submit.prevent="save(editData)">
    <v-row
      align="start"
      justify="start"
      dense
      fill-height
      style="min-height: 160px;"
    >
      <v-overlay :value="edit" :z-index="zindex" :opacity="opacity"></v-overlay>

      <v-col
        justify="start"
        cols="12"
        class="pa-5"
        style="z-index: 1;"
        order="1"
      >
        <v-card class="mb-3" v-show="edit">
          <v-toolbar flat fixed>
            <v-toolbar-title class="primary--text">Edit Mode</v-toolbar-title>
            <div class="flex-grow-1"></div>
            <v-btn text class="mx-2" @click="cancel()">cancel</v-btn>
            <v-btn
              class="mx-2"
              color="primary"
              type="submit"
              :disabled="!valid"
              ref="form"
              >save</v-btn
            >
          </v-toolbar>
        </v-card>
        <!-- image card -->
        <v-card min-height="350px">
          <v-skeleton-loader :loading="loading" type="image, image">
            <v-img
              class="white--text"
              color="grey"
              max-height="350px"
              :contain="!!data.photo"
              :src="data.photo || 'https://picsum.photos/3200/1800?image=13'"
              lazy-src="https://picsum.photos/10/6?image=13"
            >
              <template v-slot:placeholder>
                <v-row fill-height align="center" justify="center" ma-0>
                  <v-progress-circular
                    indeterminate
                    color="grey lighten-5"
                  ></v-progress-circular>
                </v-row>
              </template>
              <v-row
                align="start"
                justify="end"
                class="lightbox white--text pa-2 fill-height"
              >
                <v-col cols="12" align="end">
                  <div class="d-flex align-end flex-column">
                    <v-fab-transition>
                      <v-speed-dial
                        v-model="utility"
                        v-show="!edit"
                        right
                        :open-on-hover="false"
                        :direction="direction"
                        :transition="transition"
                      >
                        <template v-slot:activator>
                          <v-btn
                            v-model="utility"
                            color="blue darken-2"
                            dark
                            fab
                          >
                            <v-icon v-if="utility">mdi-close</v-icon>
                            <v-icon v-else>mdi-account-settings</v-icon>
                          </v-btn>
                        </template>
                        <v-btn
                          fab
                          dark
                          small
                          color="green"
                          @click="editMode(data)"
                        >
                          <v-icon>mdi-pencil</v-icon>
                        </v-btn>
                        <v-btn
                          fab
                          dark
                          small
                          color="red"
                          @click="deleteInstance(data.name, data.id)"
                        >
                          <v-icon>mdi-delete</v-icon>
                        </v-btn>
                      </v-speed-dial>
                    </v-fab-transition>
                  </div>
                </v-col>
              </v-row>
            </v-img>
          </v-skeleton-loader>

          <v-row align="center" class="px-5 py-2">
            <v-skeleton-loader
              :loading="loading"
              width="500"
              type="list-item-avatar-three-line"
            >
              <v-col>
                <div class="d-flex">
                  <v-avatar
                    :tile="false"
                    size="80"
                    color="grey lighten-2"
                    class="mr-3"
                  >
                    <v-img
                      v-if="data.logo || data.avatar || data.photo"
                      :src="data.logo || data.avatar || data.photo"
                      contain
                      alt="image not found"
                    >
                      <template v-slot:placeholder>
                        <v-layout fill-height align-center justify-center ma-0>
                          <v-progress-circular
                            indeterminate
                            color="primary"
                          ></v-progress-circular>
                        </v-layout>
                      </template>
                    </v-img>
                  </v-avatar>

                  <div class="d-flex flex-column align-self-center">
                    <span
                      class="headline font-weight-regular"
                      v-text="
                        data.name ||
                          data.title ||
                          getFullName(data.first_name, data.last_name)
                      "
                    ></span>
                    <span class="overline primary--text" v-if="data.job_title">
                      <span class="overline text--primary">
                        &nbsp;
                        <span v-text="data.job_title"></span>
                      </span>
                    </span>
                    <span
                      class="overline primary--text"
                      v-if="data.label || data.company"
                    >
                      <span v-if="data.company">{{ data.company }},&nbsp;</span>
                      <span v-text="data.label"></span>
                    </span>
                    <!-- <span class>{{event.state}}, {{event.locality}}</span> -->
                    <span class="primary--text pt-1" v-if="edit">
                      <v-file-input
                        required="false"
                        prepend-icon="mdi-camera"
                        accept="image/*"
                        placeholder="Select a Logo"
                        truncate-length="10"
                        label="Logo"
                        outlined
                        dense
                        show-size
                        counter
                      ></v-file-input>
                    </span>
                  </div>
                </div>
              </v-col>
            </v-skeleton-loader>

            <div class="flex-grow-1"></div>
            <v-skeleton-loader
              :loading="loading"
              width="500"
              type="table-tfoot"
            >
              <v-col justify="center" align="end">
                <base-social-media
                  style="position: relative; bottom: 0px;"
                  class="align-self-end"
                  :facebookLink="data.facebook"
                  :linkedinLink="data.linkedin"
                  :twitterLink="data.twitter"
                  :instagramLink="data.instagram"
                  :youtubeLink="data.youtube"
                />
              </v-col>
            </v-skeleton-loader>
          </v-row>
        </v-card>
        <!-- image card -->
      </v-col>
      <v-col cols="12" sm="8" class="pl-5" style="z-index: 1;" order="2" d-flex>
        <v-card>
          <v-skeleton-loader
            v-if="!edit"
            :loading="loading"
            type="card-heading, list-item-three-line, list-item-three-line, list-item, list-item-two-line"
          >
            <div class="d-flex flex-row">
              <v-card-title
                class="subtitle-2"
                v-if="
                  data.name ||
                    data.title ||
                    getFullName(data.first_name, data.last_name)
                "
              >
                {{
                  data.name ||
                    data.title ||
                    getFullName(data.first_name, data.last_name)
                }}
              </v-card-title>

              <div class="flex-grow-1"></div>
            </div>
            <v-card-text class="mb-auto">
              <div v-html="data.description || data.bio || data.content"></div>
            </v-card-text>
          </v-skeleton-loader>
          <v-toolbar flat dense v-else>
            <v-toolbar-title class="text-capitalize"
              >{{ value }} Details</v-toolbar-title
            >
            <div class="flex-grow-1"></div>
            <v-toolbar-title class="caption"
              >* are for required fields</v-toolbar-title
            >
          </v-toolbar>
          <v-card-text v-if="edit">
            <v-container class="pa-5" fluid>
              <v-row dense>
                <v-col cols="12" v-if="editData.name">
                  <v-text-field
                    v-model="editData.name"
                    :rules="[v => !!v || 'Name is required']"
                    outlined
                    dense
                    prepend-icon="mdi-card-text"
                    :type="options.PUT.name.type"
                    :label="
                      options.PUT.name.required
                        ? options.PUT.name.label + '*'
                        : options.PUT.name.label
                    "
                    :required="options.PUT.name.required"
                  ></v-text-field>
                </v-col>

                <v-col
                  cols="12"
                  v-if="
                    editData.description || editData.bio || editData.content
                  "
                >
                  <span v-if="options.PUT.description">
                    {{ options.PUT.description.label }}*
                  </span>
                  <span v-if="options.PUT.bio">
                    {{ options.PUT.bio.label }}*
                  </span>
                  <span v-if="options.PUT.content">
                    {{ options.PUT.content.label }}*
                  </span>
                  <quill-editor
                    v-if="options.PUT.description"
                    style="max-height: 250px"
                    class="overflow-y-auto"
                    v-model="editData.description"
                    ref="myQuillEditor"
                    :options="editorOption"
                  ></quill-editor>
                  <quill-editor
                    v-if="options.PUT.bio"
                    style="max-height: 250px"
                    class="overflow-y-auto"
                    v-model="editData.bio"
                    ref="myQuillEditor"
                    :options="editorOption"
                  ></quill-editor>
                  <quill-editor
                    v-if="options.PUT.content"
                    style="max-height: 250px"
                    class="overflow-y-auto"
                    v-model="editData.content"
                    ref="myQuillEditor"
                    :options="editorOption"
                  ></quill-editor>
                </v-col>
              </v-row>
            </v-container>
            <v-toolbar flat dense v-if="edit">
              <v-toolbar-title>Social Media Details</v-toolbar-title>
              <div class="flex-grow-1"></div>
            </v-toolbar>
            <v-container class="pa-5" v-if="edit">
              <v-row dense>
                <v-col cols="12" md="6" v-if="options.PUT.facebook">
                  <v-text-field
                    color="blue darken"
                    v-model="editData.facebook"
                    outlined
                    prepend-icon="mdi-facebook"
                    dense
                    :label="options.PUT.facebook.label"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6" v-if="options.PUT.instagram">
                  <v-text-field
                    v-model="editData.instagram"
                    outlined
                    color="#fd5949"
                    prepend-icon="mdi-instagram"
                    dense
                    :label="options.PUT.instagram.label"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6" v-if="options.PUT.linkedin">
                  <v-text-field
                    color="primary"
                    v-model="editData.linkedin"
                    outlined
                    prepend-icon="mdi-linkedin"
                    dense
                    :label="options.PUT.linkedin.label"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="6" v-if="options.PUT.twitter">
                  <v-text-field
                    color="blue"
                    v-model="editData.twitter"
                    outlined
                    prepend-icon="mdi-twitter"
                    dense
                    :label="options.PUT.twitter.label"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col
        cols="12"
        sm="4"
        align="start"
        justify="center"
        :class="`pr-5 flex`"
        style="z-index: 1;"
        order="3"
        d-flex
        fill-height
      >
        <v-card class="mb-3 fill-height" v-if="data.category_name">
          <v-toolbar dense flat class="subtitle-1" v-if="!edit"
            >Category Details</v-toolbar
          >
          <v-skeleton-loader
            :loading="loading"
            type="card-heading, list-item-two-line"
            v-if="!edit"
          >
            <v-card-text>
              <v-list-item>
                <v-list-item-title
                  >Category: {{ data.category_name }}</v-list-item-title
                >
                <v-list-item-action>
                  <v-icon large color="yellow darken-2">mdi-star</v-icon>
                </v-list-item-action>
              </v-list-item>
            </v-card-text>
          </v-skeleton-loader>
        </v-card>

        <v-card class="mb-3 overflow-y-auto fill-height" v-if="data.created">
          <v-toolbar dense flat class="subtitle-1" v-if="!edit"
            >Time Details</v-toolbar
          >
          <v-skeleton-loader
            :loading="loading"
            type="card-heading, list-item-two-line"
            v-if="!edit"
          >
            <v-card-text>
              <v-card-text>
                <div class="d-flex flex-column align-self-start">
                  <div v-if="data.pub_date">
                    <span>Published Date:&nbsp;</span>
                    <span
                      v-if="data.pub_date"
                      v-text="timeSince(data.pub_date)"
                    ></span>
                  </div>
                  <span v-if="data.created">
                    <span>Created: &nbsp;</span>
                    <span v-text="timeSince(data.created)"></span>
                  </span>
                  <span v-if="data.modified || data.website">
                    <span>Modified:&nbsp;</span>
                    <span v-text="timeSince(data.modified)"></span>
                  </span>
                </div>
              </v-card-text>
            </v-card-text>
          </v-skeleton-loader>
        </v-card>

        <v-card class="mb-3 overflow-y-auto fill-height">
          <!-- <v-toolbar dense flat class="subtitle-1" v-if="!edit"
            >Time Details</v-toolbar
          > -->
          <!-- <v-skeleton-loader
            :loading="loading"
            type="card-heading, list-item-two-line"
            v-if="!edit"
          >
            <v-card-text>
              <div class="d-flex flex-column align-self-start">
                <div v-if="data.pub_date">
                  <span>Published Date:&nbsp;</span>
                  <span v-if="data.pub_date" v-text="timeSince(data.pub_date)"></span>
                </div>
                <span v-if="data.created">
                  <span>Created: &nbsp;</span>
                  <span v-text="timeSince(data.created)"></span>
                </span>
                <span v-if="data.modified || data.website">
                  <span>Modified:&nbsp;</span>
                  <span v-text="timeSince(data.modified)"></span>
                </span>
                
              </div>
            </v-card-text>
          </v-skeleton-loader> -->

          <v-toolbar dense flat class="subtitle-1" v-if="!edit"
            >Contact Details</v-toolbar
          >
          <v-skeleton-loader
            :loading="loading"
            type="card-heading, list-item-two-line"
            v-if="!edit | data.email || data.website || data.url || data.phone"
          >
            <v-card-text>
              <div class="d-flex flex-column align-self-start">
                <span v-if="data.email">
                  <span>Email: &nbsp;</span>
                  <a :href="`mailto:${data.email}`" v-text="data.email"></a>
                </span>
                <span v-if="data.url || data.website">
                  <span>Website:&nbsp;</span>
                  <a
                    :href="data.url || data.website"
                    v-text="data.url || data.website"
                    target="_blank"
                  ></a>
                </span>
                <div v-if="data.phone">
                  <span>Phone:&nbsp;</span>
                  <span v-if="data.phone" v-text="evtPhone(data.phone)"></span>
                </div>
                <span v-else>No Phone number</span>
              </div>
            </v-card-text>
          </v-skeleton-loader>
          <v-toolbar flat dense v-else>
            <v-toolbar-title>Contact Details</v-toolbar-title>
            <div class="flex-grow-1"></div>
            <v-toolbar-title class="caption"
              >* are for required fields</v-toolbar-title
            >
          </v-toolbar>
          <v-card-text v-if="edit">
            <v-container class="pa-5" fluid>
              <v-row dense>
                <v-col cols="12" v-if="options.PUT.url">
                  <v-text-field
                    v-model="editData.url"
                    outlined
                    :rules="[v => !!v || 'Url is required']"
                    dense
                    prepend-icon="mdi-link"
                    :type="options.PUT.url.type"
                    :label="
                      options.PUT.url.required
                        ? options.PUT.url.label + '*'
                        : options.PUT.url.label
                    "
                    :required="options.PUT.url.required"
                  ></v-text-field>
                </v-col>

                <v-col cols="12" v-if="options.PUT.website">
                  <v-text-field
                    v-model="editData.website"
                    outlined
                    :rules="[v => !!v || 'Website is required']"
                    dense
                    prepend-icon="mdi-link"
                    :type="options.PUT.website.type"
                    :label="
                      options.PUT.website.required
                        ? options.PUT.website.label + '*'
                        : options.PUT.website.label
                    "
                    :required="options.PUT.website.required"
                  ></v-text-field>
                </v-col>

                <v-col cols="12" v-if="options.PUT.phone">
                  <v-text-field
                    v-model="editData.phone"
                    outlined
                    dense
                    prepend-icon="mdi-phone"
                    :type="options.PUT.phone.type"
                    :label="options.PUT.phone.label"
                    :required="options.PUT.phone.required"
                  ></v-text-field>
                </v-col>

                <v-col cols="12" v-if="options.PUT.email">
                  <v-text-field
                    v-model="editData.email"
                    outlined
                    dense
                    prepend-icon="mdi-email"
                    :type="options.PUT.email.type"
                    :label="options.PUT.email.label"
                    :required="options.PUT.email.required"
                    :readonly="options.PUT.email.read_only"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-toolbar flat dense v-if="edit">
            <v-toolbar-title>Event Info Details</v-toolbar-title>
            <div class="flex-grow-1"></div>
          </v-toolbar>
          <!-- <v-card-text v-if="edit">
              <v-container class="pa-5" fluid>
                <v-row dense>
                  <v-col cols="12">
                    <v-text-field
                      v-model="editData.event"
                      outlined
                      dense
                      prepend-icon="mdi-calendar"
                      :type="options.PUT.event.type"
                      :label="options.PUT.event.label"
                      :required="options.PUT.event.required"
                      :readonly="true"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
          </v-card-text>-->
        </v-card>
      </v-col>
      <v-col
        justify="start"
        cols="12"
        class="pa-5"
        style="z-index: 1;"
        order="6"
        v-if="edit"
      >
        <v-card class="mb-3">
          <v-toolbar flat>
            <v-toolbar-title class="primary--text">Edit Mode</v-toolbar-title>
            <div class="flex-grow-1"></div>
            <v-btn text class="mx-2" form="form" @click="cancel()"
              >cancel</v-btn
            >
            <v-btn
              class="mx-2"
              color="primary"
              @click="save(editData)"
              form="form"
              type="sumbit"
              :disabled="!valid"
              >save</v-btn
            >
          </v-toolbar>
        </v-card>
      </v-col>
    </v-row>
    <base-confirm-dialog ref="confirmDialog"></base-confirm-dialog>
  </v-form>
</template>

<script lang="ts">
// require styles
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";

import { quillEditor } from "vue-quill-editor";
import { mapMutations, mapState, mapActions, mapGetters } from "vuex";

import dateFormat from "@/utils/dateFormat";
import { timeSince } from "@/utils/timeSince";
import { isNumber } from "@/utils/helpers";
import { get, sync } from "vuex-pathify";
import props from "./props";

import Vue from "vue";
export default Vue.extend({
  name: "detail",
  components: {
    quillEditor
  },
  inject: {
    api: {
      type: String,
      default: ""
    }
  },
  props: props.detail,
  data: () => ({
    valid: false,
    loading: false,
    zindex: 1,
    edit: false,
    opacity: 0.3,
    //detail page props
    utility: false,
    direction: "bottom",
    transition: "slide-y-reverse-transition",
    editData: {},

    data: {
      id: 1,
      name: "test name"
    }, //store state
    options: {}, //store state
    editorOption: {
      // add quill options
    }
  }),
  computed: {
    user: get("auth/getuser"),
    API: get("api/API")
  },
  methods: {
    timeSince,
    save(data: any) {
      if (this.$refs.form.validate()) {
        console.log("EDITED DATA:", data);
        this.API.update(data)
          .then(async result => {
            await this.fetchResource().then(() => {
              this.edit = false;
            });
            console.table([data, result]);

            await this.$store.commit("snackbar/setSnackbar", {
              color: "primary",
              href: false,
              msg: `Edited: ${this.$route.params.namespace}, "${result.name ||
                result.title ||
                this.getFullName(result.first_name, result.last_name)}"`,
              text: "Close",
              to: false,
              timeout: 6000,
              action: result => {
                // this.API.fetch()
              }
            });
          })
          .catch(err => {
            this.$store.commit("snackbar/setSnackbar", {
              color: "error",
              href: false,
              msg: `Failed: ${err.code}, ${err.detail || err}`,
              text: "Retry",
              to: false,
              timeout: 6000,
              action: err => {
                this.save(data);
              }
            });
          });
      } else {
        console.log("SAVE FORM NOT VALID");
      }
    },
    editMode(data: any) {
      this.loading = true;
      this.API.options(data.id)
        .then(res => {
          console.log(res);
          this.options = res.actions;
          this.editData = Object.assign({}, data);
          this.edit = true;
        })
        .catch(() => {
          console.warn("ERROR FOUND");
        })
        .finally(() => {
          this.loading = false;
        });
    },
    async deleteInstance(name: string, id: number) {
      this.loading = true;
      if (
        await this.$refs.confirmDialog.open(
          "Delete Confirmation",
          `Are you sure you want to permanently delete the event ${name ||
            null}?  This process cannot be undone. <br /> This will revert alot of changes`,
          name,
          id,
          {}
        )
      ) {
        // TODO: Need to add error checking if delete fails
        console.log("selected YES");
        return this.API.delete(id)
          .then(result => {
            this.$store.commit("snackbar/setSnackbar", {
              color: "primary",
              href: false,
              msg: "successfult y posted notification",
              text: "Close",
              to: false,
              timeout: 6000
            });
            this.$refs.form.reset();
          })
          .catch(err => {
            this.$store.commit("snackbar/setSnackbar", {
              color: "error",
              href: false,
              msg: `Failed: ${err.code}, ${err.detail || err}`,
              text: "Retry",
              to: false,
              timeout: 6000,
              action: err => {
                this.deleteInstance(name, id);
              }
            });
          })
          .finally(() => {
            this.loading = false;
          });
      } else {
        console.log("selected NO");
        return;
      }
    },
    evtPhone(phone: string) {
      var newph1 = phone.substr(0, 3);
      var newph2 = phone.substr(3, 3);
      var newph3 = phone.substr(6, 4);
      var newph = "(" + newph1 + ") " + newph2 + "-" + newph3;
      return newph;
    },
    getFullName: (firstName: string, lastName: string) =>
      `${firstName} ${lastName}`,

    cancel() {
      this.edit = false;
      this.editData = {};
    },
    async fetchResource() {
      await this.API.read(
        isNumber(this.$route.params.page)
          ? this.$route.params.page
          : this.$route.params.id
      ).then((res: any) => {
        this.data = res;
        // console.log(res);
      });
    }
  },
  async mounted() {
    // console.log("USER", this.user, "PROPS", this.value, this.api);
    await this.API.init();
    // console.log(this.$route.params.id);
    await this.fetchResource();
    // this.API.read(
    //   isNumber(this.$route.params.page)
    //     ? this.$route.params.page
    //     : this.$route.params.id
    // ).then((res: any) => {
    //   this.data = res;
    //   // console.log(res);
    // });
  }
});
</script>

<style scoped>
#link:hover {
  text-decoration: underline;
  cursor: pointer;
}
.lightbox {
  box-shadow: 0 0 20px inset rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.4) 0%,
    transparent 72px
  );
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  align-self: flex-start;
  display: block;
}
.sticky2 {
  position: -webkit-sticky;
  position: sticky;
  top: 39rem;
}
html,
body {
  margin: 0;
  padding: 0;
}
.instagram-gradient {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* border-radius: 10px; */
}
.map {
  width: 100vw;
  height: 100vh;
}
.card--flex-toolbar {
  margin-top: -64px;
}
.image--flex-toolbar {
  margin-top: -70px;
}
</style>

<!-- <social-media-card
                  :websiteIcon="event.icon"
                  :websiteLink="event.website"
                  :facebookLink="event.facebook"
                  :linkedinLink="event.linkedin"
                  :twitterLink="event.twitter"
                  :instagramLink="event.instagram"
                  :youtubeLink="event.youtube"
                  />-->
