<template>
  <v-row
    align="start"
    justify="start"
    dense
    fill-height
    style="min-height: 160px;"
  >
    <v-col cols="12" align="start" justify="start">
      <v-container fluid>
        <v-data-table
          :headers="headers"
          :items="data"
          :loading="loading"
          :search="search"
          sort-by="name"
          class="elevation-1"
        >
          <template v-slot:top>
            <v-toolbar color="transparent" flat>
              <v-spacer></v-spacer>
              <v-text-field
                v-model="search"
                append-icon="mdi-magnify"
                label="Search"
                single-line
                hide-details
                class="mr-3"
              ></v-text-field>
              <v-btn
                color="primary"
                dark
                class="mb-2"
                @click.stop="createItem()"
                >Add {{ $route.params.namespace }}</v-btn
              >
            </v-toolbar>
          </template>
          <template v-slot:item.photo="{ item }">
            <div class="pa-2 ml-3 text-xs-left">
              <v-img
                :src="item.photo"
                :lazy-src="item.photo"
                aspect-ratio="1.77777777778"
                contain
                class="image ma-0 pa-0"
                v-if="item.photo"
              ></v-img>
              <span v-else>Image Not Found</span>
            </div>
          </template>
          <template v-slot:item.logo="{ item }">
            <div class="pa-2 ml-3 text-xs-left">
              <v-img
                :src="item.logo"
                :lazy-src="item.logo"
                aspect-ratio="1.77777777778"
                contain
                class="image ma-0 pa-0"
                v-if="item.logo"
              ></v-img>
              <span v-else>Image Not Found</span>
            </div>
          </template>
          <template v-slot:item.created="{ item }">
            <span>{{
              dateFormat(item.created, "mmm dd, yyyy h:MM:ss TT", false)
            }}</span>
          </template>
          <template v-slot:item.modified="{ item }">
            <span>{{
              dateFormat(item.modified, "mmm dd, yyyy h:MM:ss TT", false)
            }}</span>
          </template>
          <template v-slot:item.url="{ item }">
            <a :href="item.url" target="__blank">{{ item.url }}</a>
          </template>
          <template v-slot:item.website="{ item }">
            <a :href="item.website" target="__blank">{{ item.website }}</a>
          </template>
          <template v-slot:item.phone="{ item }">
            <a :href="`tel:+${item.phone}`" target="__blank">{{
              evtPhone(item.phone)
            }}</a>
          </template>
          <template v-slot:item.email="{ item }">
            <a :href="`mailto:${item.email}`" target="__blank">{{
              item.email
            }}</a>
          </template>

          <template v-slot:item.action="{ item }">
            <v-menu
              bottom
              offset-x
              :nudge-width="80"
              origin="right bottom"
              transition="slide-x-transition"
              @cancel="cancel()"
            >
              <template v-slot:activator="{ on }">
                <v-btn icon outlined small color="grey darken-1" v-on="on">
                  <v-icon>{{
                    item.open ? "mdi-chevron-up" : "mdi-chevron-down"
                  }}</v-icon>
                </v-btn>
              </template>

              <v-list>
                <v-list-item link :to="{ params: { page: item.id } }">
                  <v-list-item-title>Go to</v-list-item-title>
                </v-list-item>
                <!-- <v-list-item @click="editItem(item)">
                <v-list-item-title>Edit</v-list-item-title>
                </v-list-item>-->
                <v-list-item @click="deleteItem(item)">
                  <v-list-item-title>Delete</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </template>
          <template v-slot:no-data>
            <v-alert :value="true" color="error" icon="mdi-alert"
              >Sorry, nothing to display here :(</v-alert
            >
          </template>
        </v-data-table>
      </v-container>
      <base-confirm-dialog ref="confirmDialog"></base-confirm-dialog>
    </v-col>
  </v-row>
</template>
<script lang="ts">
import { get, sync } from "vuex-pathify";
import {
  Ref,
  ref,
  createComponent,
  reactive,
  toRefs,
  onMounted,
  computed,
  onBeforeUnmount,
  watch,
  provide,
  InjectionKey
} from "@vue/composition-api";
import { getAuthPage } from "@/utils/componentHelpers";
import { loadApi } from "@/mixins/Apindex";
import Vue from "vue";
import dateFormat from "@/utils/dateFormat";
import { useRouter } from "@u3u/vue-hooks";
import { camelCase, kebabCase, upperFirst, lowerCase, startCase } from "lodash";
const pause = (ms: number | undefined = 100) =>
  new Promise(resolve => setTimeout(resolve, ms));

export default Vue.extend({
  // components: {
  //   SpeakerDetailForm: () => import("@/components/speaker/SpeakerDetailForm"),
  //   ConfirmDialog: () => import("@/components/shared/ConfirmDialog")
  // },
  data: () => ({
    dialog: false,
    search: "",
    // headers: [
    //   {
    //     text: "Photo",
    //     width: "50",
    //     align: "left",
    //     value: "photo",
    //     sortable: false,
    //     class: "hidden-xs-only"
    //   },
    //   {
    //     text: "Title",
    //     align: "center",
    //     sortable: true,
    //     value: "title",
    //     class: "text-center"
    //   },
    //   {
    //     text: "First Name",
    //     align: "left",
    //     sortable: true,
    //     value: "first_name",
    //     class: "text-xs-left fill-height pr-0 mr-0"
    //   },
    //   {
    //     text: "Last Name",
    //     align: "left",
    //     sortable: true,
    //     value: "last_name",
    //     class: "text-xs-left fill-height"
    //   },
    //   {
    //     text: "Label",
    //     align: "left",
    //     sortable: true,
    //     value: "label",
    //     class: "text-xs-left fill-height"
    //   },
    //   {
    //     text: "Company",
    //     align: "left",
    //     sortable: true,
    //     value: "company",
    //     class: "text-xs-left fill-height"
    //   },
    //   {
    //     text: "Title",
    //     align: "left",
    //     sortable: true,
    //     value: "job_title",
    //     class: "text-xs-right fill-height"
    //   },
    //   //   { text: 'Tier', value: 'priority' },
    //   { text: "Website", value: "url" }
    // ],
    desserts: [],
    data: [],
    loading: false,
    editedIndex: -1,
    editedItem: {},
    defaultItem: {
      name: "",
      calories: 0,
      fat: 0,
      carbs: 0,
      protein: 0
    }
  }),
  computed: {
    user: get("auth/getuser"),
    API: get("api/API"),

    headers() {
      const headers: any[] = [];
      this.API.apiKeys.forEach(item => {
        if (item === "id") return;
        if (item === "events") return;
        if (item === "content") return;
        if (item === "event") return;
        if (item === "pub_date") return;
        if (item === "avatar") return;
        if (item === "job_title") return;
        // if (item === "url") return;
        if (item === "facebook") return;
        if (item === "twitter") return;
        if (item === "linkedin") return;
        if (item === "instagram") return;
        if (item === "bio") return;
        if (item === "description") return;
        // if (this.API.apiKeys.includes("event")) return;
        headers.push({
          text: startCase(item),
          align: "center",
          sortable: true,
          value: item,
          class: "text-left"
        });
      });
      headers.push({ text: "Actions", value: "action", sortable: false });
      return headers;
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  methods: {
    //   ...mapActions("speakerList", ["delete", "edit", "create", "fetch"]),
    // async editItem(data: object) {
    //   await this.$refs.speakerDetailFormDialog.open(data, false);
    // },

    // async createItem() {
    //   await this.$refs.detailFormDialog.open({}, true);
    // },

    dateFormat: (date: Date, mask: string, UTC: boolean) =>
      dateFormat(date, mask, UTC),

    async deleteItem(data: any, name: string) {
      if (
        await this.$refs.confirmDialog.open(
          "Delete Confirmation",
          `Are you sure you want to permanently delete this ${name}? This process cannot be undone.`,
          {}
        )
      ) {
        this.API.delete(data.id);
        // TODO: Need to add error checking if delete fails
      }
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    evtPhone(phone: string) {
      if (phone.length < 10) return phone;
      var newph1 = phone.substr(0, 3);
      var newph2 = phone.substr(3, 3);
      var newph3 = phone.substr(6, 4);
      var newph = "(" + newph1 + ") " + newph2 + "-" + newph3;
      return newph;
    }
  },
  async mounted() {
    this.loading = true;
    await this.API.fetch()
      .then((res: any) => {
        console.log("NEWS TEST", res);

        this.data = res;
        // console.log(res);
      })
      .finally(() => {
        this.loading = false;
      });

    // await pause(3000);
    // console.log(this.API.apiKeys);
    // console.log(this.headers);
  },
  async created() {
    await this.API.init();
  }
  // setup(props, { root }) {
  //   const headersl = computed(() => {
  //     data.map();
  //   });
  //   return {
  //     headersl
  //   };
  // }
});
</script>
<style scoped>
.image {
  width: 48px;
  height: 48px;
}
</style>
