<template>
  <v-row>
    <v-col cols="7">
      <v-card>
        <v-toolbar flat color="primary" dark>
          <v-icon>mdi-pencil</v-icon>
          <v-toolbar-title>Compose</v-toolbar-title>
          <div class="flex-grow-1"></div>
          <v-icon>mdi-send</v-icon>
        </v-toolbar>
        <div class="pa-4">
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
            @submit.prevent="sendMessage(title, message)"
          >
            <v-text-field
              v-model="title"
              label="Title"
              solo
              flat
              prepend-icon="mdi-view-headline"
              background-color="grey lighten-2"
              required
            ></v-text-field>

            <v-textarea
              v-model="message"
              :counter="256"
              :rules="messageRules"
              label="Message"
              solo
              flat
              prepend-icon="mdi-message-text"
              background-color="grey lighten-2"
              required
            ></v-textarea>

            <v-divider height="20px"></v-divider>

            <!-- <twitter-authenticate /> -->

            <v-switch
              v-model="twitterSwitch"
              color="primary"
              prepend-icon="mdi-twitter"
              label="Share message on Twitter"
            ></v-switch>

            <v-card-actions>
              <v-spacer></v-spacer>

              <v-btn :disabled="!valid" :loading="loading" color="primary" large type="submit">Send</v-btn>

              <v-btn color="error" large @click="reset">Clear</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-form>
        </div>
      </v-card>
    </v-col>
    <v-col>
      <v-card flat height="530" class="transparent image text-xs-center justify-center pr-1">
        <v-layout row wrap align-center fill-height justify-center class="text-xs-center pa-0 ma-0">
          <v-card
            width="200"
            height="100"
            style="max-height:100px; min-height: "
            class="white"
            justify-center
          >
            <v-card-title class="px-1 pt-2 mx-0">
              <div class="text-xs-left ma-0 pa-0">
                <div class="body-2 my-0 py-0">
                  <p style="font-size:7.5pt;" class="primary--text my-1 py-0 pl-1 ml-0">
                    <!-- <v-icon small left class="ma-0 pa-0">mdi-calendar</v-icon> -->
                    <!-- <notify-icon height="16" width="16" class="pr-1"></notify-icon>ExpoLeap -->
                  </p>
                </div>
                <div class="box my-0 py-0 mx-1 text--truncate" style="word-break: break-all;">
                  <p
                    style="font-size:7.5pt;"
                    class="font-weight-medium my-0 py-0 pl-0 text-capitalize"
                  >{{ title }}</p>
                </div>
                <div class="box my-0 py-0 mx-1" style="word-break: break-all;">
                  <span
                    style="font-size:7pt;"
                    class="grey--text text--darken-2 my-0 py-0 pl-0 mt-1 message"
                  >{{ message }}</span>
                </div>
              </div>
            </v-card-title>
          </v-card>
        </v-layout>
      </v-card>
    </v-col>
  </v-row>
</template>
<script lang="ts">
import Vue from "vue";
import { get, sync } from "vuex-pathify";

export default Vue.extend({
  data: () => ({
    valid: true,
    twitterSwitch: false,
    title: "",
    message: "",
    messageRules: [
      v => !!v || "Message is required",
      v => (v && v.length <= 256) || "Title must be less than 256 characters"
    ],
    loading: false
  }),
  computed: {
    user: get("auth/getuser"),
    API: get("api/API")
  },
  methods: {
    async sendMessage(title: string, message: string) {
      if (this.$refs.form.validate()) {
        this.loading = true;
        const event = this.API.getEvent();
        // console.log('title: ' + title + ', message: ' + message + ', event: ' + event)
        await this.API.pushNotification(title, message, event)
          .then(result => {
            this.$store.commit("snackbar/setSnackbar", {
              color: "primary",
              href: false,
              msg: "successfult y posted notification",
              text: "Close",
              to: false,
              timeout: 6000
            });
            this.$refs.form.reset();
          })
          .catch(err => {
            this.$store.commit("snackbar/setSnackbar", {
              color: "error",
              href: false,
              msg: `Failed: ${err.code}, ${err.detail || err}`,
              text: "Retry",
              to: false,
              timeout: 6000,
              action: err => {
                this.sendMessage(title, message);
              }
            });
          })
          .finally(() => {
            this.loading = false;
          });

        if (this.twitterSwitch) {
          // console.log('Tweet message: ' + message)
          // await TwitterService.tweetMessage(message)
        }
      }
    },

    reset() {
      this.$refs.form.reset();
    }
  },
  async mounted() {
    await this.API.init();
  }
});
</script>

<style scoped>
.image {
  background-image: url("../../assets/android.png");
  background-size: contain;
  background-position: center;
}
.box p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.message {
  word-break: break-word;
}
.box span {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
</style>