<template>
  <component :is="id ? 'section' : 'div'" :id="id" class="mb-0">
    <core-tree :api="api" :children="value.children" />
  </component>
</template>

<script lang="ts">
// Utilities
import { mapGetters } from "vuex";
import marked from "marked";
import kebabCase from "lodash/kebabCase";

export default {
  name: "DataSection",

  provide() {
    return {
      id: this.id,
      api: this.api
    };
  },

  props: {
    value: {
      type: Object,
      default: () => ({})
    },
    api: {
      type: [Array, String],
      default: () => ""
    }
  },

  mounted() {
    // console.log("API CALLBACK:\t", this.api);
    // console.log("VALUE CALLBACK:\t", this.value);
  },
  computed: {
    ...mapGetters("documentation", ["namespace"]),
    id() {
      const children = this.value.children;

      if (!children || !children.length) return undefined;

      let lang;

      for (const child of children) {
        if (child.type === "heading") {
          lang = child.lang;
          break;
        }

        // if (child.type === "accessibility") return "accessibility";
        // if (child.type === "api") return "api";
        // if (child.type === "examples") return "examples";
        // if (child.type === "playground") return "playground";
        // if (child.type === "up-next") return "up-next";
        // if (child.type === "usage" || child.type === "usage-new")
        //   return "usage";
        // if (child.type === "variable-api") return "variable-api";
        // if (child.type === "detail") return "data-detail";
      }

      if (!lang) return undefined;

      const str = lang.indexOf(".") > -1 ? lang : `${this.namespace}.${lang}`;

      const innerHTML = marked(str);
      const index = innerHTML.indexOf("</");
      const text = innerHTML.slice(4, index);

      return kebabCase(text);
    }
  }
};
</script>
