<template>
  <v-row
    align="start"
    justify="center"
    class="pa-0 ma-0 fill-height"
    no-gutters
  >
    <v-col cols="12" class="primary" style="height: 40%">
      <v-row
        align="center"
        justify="center"
        class="mb-12"
        style="height: 300px;"
      >
        <v-col cols="7">
          <div class="headline white--text">Your Expoleap Projects</div>
          <span v-if="!!ERROR_LIST" class="error--text text--darken-1">
            {{ ERROR_LIST }}
          </span>
          <div class="title white--text" v-if="!EVENTS_LIST">
            We see you have no events create one here
          </div>
        </v-col>
      </v-row>
    </v-col>
    <v-col align="start" justify="start" lg="7" sm="10" xs="12" class="up px-2">
      <v-row align="start" justify="start">
        <v-col
          lg="3"
          md="4"
          sm="12"
          cols="12"
          class="pa-1"
          align="start"
          justify="start"
        >
          <v-hover v-slot:default="{ hover }">
            <v-card
              height="200"
              max-height="200"
              :color="hover ? 'grey lighten-3' : 'white'"
              style="cursor: pointer;"
              @click="createEvent()"
            >
              <v-row
                class="fill-height"
                align="center"
                justify="center"
                no-gutters
              >
                <v-col cols="12" align="center" justify="center">
                  <div class="d-flex flex-column">
                    <v-icon
                      size="48"
                      class="pb-2"
                      color="primary"
                      v-text="'mdi-plus'"
                    ></v-icon>
                    <span class="subtitle-2 primary--text">Add Event</span>
                  </div>
                </v-col>
              </v-row>
            </v-card>
          </v-hover>
        </v-col>
        <v-row align="center" justify="center" v-if="isListLoading">
          <v-col align="center" justify="center">
            <v-progress-circular
              indeterminate
              color="white"
            ></v-progress-circular>
          </v-col>
        </v-row>
        <v-col
          v-else
          lg="3"
          md="4"
          sm="12"
          cols="12"
          class="pa-1"
          align="center"
          justify="center"
          v-for="event in EVENTS_LIST"
          :key="event.id"
          v-show="EVENTS_LIST"
        >
          <v-hover v-slot:default="{ hover }">
            <v-card
              :disabled="isEventLoading"
              :loading="isEventLoading"
              height="200"
              max-height="200"
              light
              style="cursor: pointer;"
              link
              @click="selectEvent(event.id)"
            >
              <template v-slot:progress>
                <v-layout fill-height align-center justify-center ma-0>
                  <v-progress-linear
                    indeterminate
                    color="primary"
                  ></v-progress-linear>
                </v-layout>
              </template>
              <v-card-title class="title mb-0 text-center">
                {{ event.name }}
              </v-card-title>
              <div class="text-center" v-if="event.logo">
                <v-avatar color="grey lighten-1" size="70">
                  <v-img :src="event.logo" contain>
                    <template v-slot:placeholder>
                      <v-row fill-height align="center" justify="center" ma-0>
                        <v-progress-circular
                          indeterminate
                          color="grey lighten-5"
                        ></v-progress-circular>
                      </v-row>
                    </template>
                  </v-img>
                </v-avatar>
              </div>
              <div class="text-left pl-4">By: {{ event.organizer }}</div>

              <v-card-actions class="d-flex align-end">
                <v-icon
                  small
                  class="px-1"
                  color="green"
                  v-text="'mdi-android-head'"
                ></v-icon>
                <v-icon
                  small
                  class="px-1"
                  color="primary"
                  v-text="'mdi-apple-ios'"
                ></v-icon>
                <v-icon
                  small
                  class="px-1"
                  color="red"
                  v-text="'mdi-code-tags'"
                ></v-icon>
              </v-card-actions>
              <v-btn v-if="ERROR_LIST" color="primary">retry</v-btn>
            </v-card>
          </v-hover>
        </v-col>
      </v-row>
      <v-row dense align="start" justify="center">
        <v-col cols="12">
          <v-divider class="my-12"></v-divider>
        </v-col>
        <v-col cols="12" sm="2" md="2" align="center" class="pa-1">
          <v-card
            height="150"
            max-height="150"
            class="align-space-between text-center"
          >
            <!-- <v-row> -->
            <!-- <div class=text-left> -->
            <div class="grey--text">Need help?</div>
            <div class="grey--text">Dont see your event?</div>
            <div class="grey--text">Contact Info: 555-5555</div>
            <!-- </div> -->
            <!-- </v-row> -->
          </v-card>
        </v-col>

        <v-col cols="12" sm="10" md="10" class="pa-1">
          <v-card height="150" max-height="150">
            <v-row align="center" justify="start" no-gutters>
              <v-col align="start" justify="center" cols="7">
                <v-card-title primary-title class="body-1-1 mb-0"
                  >Expoleap projects are your events</v-card-title
                >
                <v-card-text>
                  Events in a project share features with other applications
                  like mobile apps and websites
                </v-card-text>
              </v-col>
              <v-col cols="2" align="center" justify="enc">
                <v-card-actions>
                  <v-row align="center" justify="end" no-gutters>
                    <v-col cols="12" class="pb-2">
                      <v-card
                        outlined
                        width="150"
                        style="border-radius: 30px;"
                        class="pt-2"
                      >
                        <v-icon
                          large
                          class="pb-2 px-1"
                          color="green"
                          v-text="'mdi-android-head'"
                        ></v-icon>
                        <v-icon
                          large
                          class="pb-2 px-1"
                          color="primary"
                          v-text="'mdi-apple-ios'"
                        ></v-icon>
                        <v-icon
                          large
                          class="pb-2 px-1"
                          color="red"
                          v-text="'mdi-code-tags'"
                        ></v-icon>
                      </v-card>
                    </v-col>
                  </v-row>
                </v-card-actions>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col align="center" justify="center" class="py-3 grey--text">
          <span class="px-1">Terms</span>
          <span class="title pb-3">.</span>
          <span class="px-1">Privacy Policy</span>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>
<script lang="ts">
import {
  Ref,
  ref,
  createComponent,
  reactive,
  toRefs,
  onMounted,
  computed,
  onBeforeUnmount,
  watch,
  provide,
  InjectionKey
} from "@vue/composition-api";
import { loadApi } from "@/mixins/Apindex";

import {
  useStore,
  useRouter,
  useState,
  useGetters,
  useMutations
} from "@u3u/vue-hooks";
import { camelCase, kebabCase, upperFirst } from "lodash";

export default createComponent({
  setup(props, { root }) {
    const { route, router } = useRouter();
    const store = useStore();

    const state = {
      ...useState({
        eventDialog: "app/eventDialog"
        // events_LIST: "events/GET_EVENTS_LIST"
      })
    };
    const getters = {
      ...useGetters({
        API: "api/API",
        events_LIST: "events/GET_EVENTS_LIST"
      })
    };
    const mutations = {
      ...useMutations({
        SET_EVENTS_LIST: "events/SET_LIST",
        SET_EVENT_DIALOG: "app/SET_EVENT_DIALOG"
      })
    };
    const isListLoading = ref(false);
    const isEventLoading = ref(false);
    const API: any = computed(() => getters.API.value).value;
    let EVENTS_LIST = computed({
      get: () => getters.events_LIST.value,
      set: val => mutations.SET_EVENTS_LIST(val)
    }) as any;

    const ERROR_LIST: any = ref(null);

    function createEvent() {
      mutations.SET_EVENT_DIALOG(true);
      // state.eventDialog = !state.eventDialog;
    }

    async function fetchEventsList() {
      ERROR_LIST.value = null;
      isListLoading.value = true;
      await API.fetch()
        .then((result: object[]) => {
          // EVENTS_LIST = result;
          mutations.SET_EVENTS_LIST(result);
          console.log("EVENT DATA", EVENTS_LIST.value, result);

          isListLoading.value = false;
        })
        .catch((err: any) => {
          ERROR_LIST.value = err;
          console.log("AS ERRORON QLDHKWGDK", ERROR_LIST.value);
          router.push("/auth/sign-in");
          isListLoading.value = false;
        });
    }
    async function selectEvent(id: string) {
      ERROR_LIST.value = null;
      isEventLoading.value = true;
      API.read(id)
        .then(async (result: any) => {
          isEventLoading.value = false;

          await API.setEvent(result.id).then(
            router.push(`events/${result.id}/all`)
          );
          console.log(result);

          // EventService.setEventId(id)
          //   this.loading = false;
          //   this.error = true;
          //   this.$router.push({
          //     name: "dashboard",
          //     params: { eventid: id },
          //     query:
          //       localStorage.getItem("event") == null &&
          //       localStorage.getItem("event") == undefined
          //         ? { overview: "grid" }
          //         : { overview: 1 }
          //   });
        })
        .catch((err: any) => {
          isEventLoading.value = false;
          ERROR_LIST.value = err;
        });
      console.log(id);
    }

    onMounted(() => {
      API.init();
      fetchEventsList();
      console.log(EVENTS_LIST.value);
    });
    return {
      EVENTS_LIST,
      ERROR_LIST,
      selectEvent,
      // porpdata
      isEventLoading,
      isListLoading,
      createEvent
    };
  }
});
</script>
<style>
.up {
  margin-top: -100px;
}
.bgimage {
  /* background-image:  */
  /* linear-gradient(rgba(32, 57, 68, 0.776)), url("../../assets/selectEvent.jpg");*/

  background-size: cover;
}

.side-slide-enter-active {
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.side-slide-leave-active {
  position: absolute;
  transition: all 0.3s;
  /* cubic-bezier(1, 0.5, 0.8, 1); */
}
.side-slide-enter, .side-slide-leave-to
/* .side-slide-leave-active below version 2.1.8 */ {
  transform: translateX(100%);
  opacity: 1;
}
</style>
