<template>
  <v-row>
    <v-col cols="12">
      <v-row class="overflow-x">
        <v-col cols="12">
          <v-toolbar color="transparent" flat class="py-0 ma-0" dense>
            <v-spacer></v-spacer>
            <!-- <v-text-field
              name="Search"
              placeholder="Search"
              hide-details
              single-line
              append-icon="mdi-magnify"
              class="pr-3"
              id="id"
            ></v-text-field> -->
            <v-responsive class="mr-0 mr-md-6 hidden-xs-only" max-width="350">
              <v-text-field
                class="font-weight-regular ma-1 pr-3"
                v-model="query"
                name="search"
                label="Search the event's tasks to do"
                single-line
                id="tasks-search"
                hide-details
                append-icon="mdi-magnify"
              ></v-text-field>
            </v-responsive>
            <v-btn color="primary" @click="addItem(1)">Add Task</v-btn>
          </v-toolbar>
        </v-col>

        <v-col :cols="width" pt-0 mt-0>
          <v-card max-height="470">
            <v-progress-linear
              background-color="purple"
              height="4"
              color="red"
              value="100"
              class="py-0 my-0"
            ></v-progress-linear>
            <v-toolbar dense flat>
              <v-toolbar-title :class="`text-capitalize red--text`"
                >open</v-toolbar-title
              >
              <v-spacer></v-spacer>
              <v-icon color="grey darken-2">mdi-cards-outline</v-icon>
              {{ this.openTasks.length }}
              <v-btn icon small @click="addItem(1)">
                <v-icon color="grey darken-2">mdi-plus</v-icon>
              </v-btn>
            </v-toolbar>
            <draggable
              id="open"
              class="scroll-y full-height"
              v-model="openTasks"
              v-bind="dragOptions"
              :move="onMove"
              @update="val => updateList(val)"
              @change="val => changeOrder(val)"
              @start="val => startList(val)"
              @end="val => updateList(val)"
              style="max-height: 500px; height: 500px;"
              tag="div"
            >
              <v-list
                three-line
                v-for="element in getOpenTasks"
                :key="element.order"
                class="px-2 py-1"
              >
                <v-list-item
                  @click.native="selectTask(element)"
                  class="elevation-1 borders body-2"
                >
                  <v-list-item-content>
                    <v-list-item-title
                      v-html="element.name"
                      id="edit"
                      @click.stop="editItem(element)"
                      class="body-2"
                    ></v-list-item-title>
                    <v-list-item-subtitle
                      v-html="element.description"
                    ></v-list-item-subtitle>
                  </v-list-item-content>

                  <v-list-item-action v-if="element.due_date">
                    <v-responsive
                      class="mr-0 mr-md-6 hidden-sm-and-down"
                      max-width="350"
                    >
                      <v-tooltip
                        bottom
                        :open-delay="0"
                        transition="slide-x-transition"
                      >
                        <template v-slot:activator="{ on }">
                          <v-btn
                            :color="
                              `${
                                timeSince(element.due_date) ? 'red' : 'grey'
                              } darken-2`
                            "
                            small
                            text
                            v-on="on"
                            :icon="timeSince(element.due_date) ? false : true"
                          >
                            <v-icon dark left class="pa-0 ma-0" small
                              >mdi-calendar</v-icon
                            >
                            <span v-if="timeSince(element.due_date)">
                              {{ element.due_date | shortDate }}
                            </span>
                          </v-btn>
                        </template>
                        <div class="text-xs-center">
                          <div class="body-2">Due Date</div>
                          <!-- <div class="red--text text--lighten-2">{{ timeSince(element.due_date) }}</div> -->
                        </div>
                      </v-tooltip>
                    </v-responsive>
                  </v-list-item-action>
                </v-list-item>
              </v-list>
            </draggable>
          </v-card>
        </v-col>

        <v-col :cols="width" pt-0 mt-0>
          <v-card max-height="470">
            <v-progress-linear
              background-color="purple"
              height="4"
              color="red"
              value="100"
              class="py-0 my-0"
            ></v-progress-linear>
            <v-toolbar dense flat>
              <v-toolbar-title :class="`text-capitalize red--text`"
                >in progress</v-toolbar-title
              >
              <v-spacer></v-spacer>
              <v-icon color="grey darken-2">mdi-cards-outline</v-icon>
              {{ this.inProgressTasks.length }}
              <v-btn icon small @click="addItem(1)">
                <v-icon color="grey darken-2">mdi-plus</v-icon>
              </v-btn>
            </v-toolbar>
            <draggable
              id="inprogress"
              class="scroll-y full-height"
              v-model="inProgressTasks"
              v-bind="dragOptions"
              :move="onMove"
              @update="val => updateList(val)"
              @change="val => changeOrder(val)"
              @start="val => startList(val)"
              @end="val => updateList(val)"
              style="max-height: 500px; height: 500px;"
              tag="div"
            >
              <v-list
                three-line
                v-for="element in getInprogressTasks"
                :key="element.order"
                class="px-2 py-1"
              >
                <v-list-item
                  @click.native="selectTask(element)"
                  class="elevation-1 borders body-2"
                >
                  <v-list-item-content>
                    <v-list-item-title
                      v-html="element.name"
                      id="edit"
                      @click.stop="editItem(element)"
                      class="body-2"
                    ></v-list-item-title>
                    <v-list-item-subtitle
                      v-html="element.description"
                    ></v-list-item-subtitle>
                  </v-list-item-content>

                  <v-list-item-action v-if="element.due_date">
                    <v-responsive
                      class="mr-0 mr-md-6 hidden-sm-and-down"
                      max-width="350"
                    >
                      <v-tooltip
                        bottom
                        :open-delay="0"
                        transition="slide-x-transition"
                      >
                        <template v-slot:activator="{ on }">
                          <v-btn
                            :color="
                              `${
                                timeSince(element.due_date) ? 'red' : 'grey'
                              } darken-2`
                            "
                            small
                            text
                            v-on="on"
                            :icon="timeSince(element.due_date) ? false : true"
                          >
                            <v-icon dark left class="pa-0 ma-0" small
                              >mdi-calendar</v-icon
                            >
                            <span v-if="timeSince(element.due_date)">
                              {{ element.due_date | shortDate }}
                            </span>
                          </v-btn>
                        </template>
                        <div class="text-xs-center">
                          <div class="body-2">Due Date</div>
                          <!-- <div class="red--text text--lighten-2">{{ timeSince(element.due_date) }}</div> -->
                        </div>
                      </v-tooltip>
                    </v-responsive>
                  </v-list-item-action>
                </v-list-item>
              </v-list>
            </draggable>
          </v-card>
        </v-col>

        <v-col :cols="width" pt-0 mt-0>
          <v-card max-height="470">
            <v-progress-linear
              background-color="purple"
              height="4"
              color="green"
              value="100"
              class="py-0 my-0"
            ></v-progress-linear>
            <v-toolbar dense flat>
              <v-toolbar-title :class="`text-capitalize green--text`"
                >Done</v-toolbar-title
              >
              <v-spacer></v-spacer>
              <v-icon color="grey darken-2">mdi-cards-outline</v-icon>
              {{ this.doneTasks.length }}
              <v-btn icon small @click="addItem(1)">
                <v-icon color="grey darken-2">mdi-plus</v-icon>
              </v-btn>
            </v-toolbar>
            <draggable
              id="done"
              class="scroll-y full-height"
              v-model="doneTasks"
              v-bind="dragOptions"
              :move="onMove"
              @update="val => updateList(val)"
              @change="val => changeOrder(val)"
              @start="val => startList(val)"
              @end="val => updateList(val)"
              style="max-height: 500px; height: 500px;"
              tag="div"
            >
              <v-list
                three-line
                v-for="element in getDoneTasks"
                :key="element.order"
                class="px-2 py-1"
              >
                <v-list-item
                  @click.native="selectTask(element)"
                  class="elevation-1 borders body-2"
                >
                  <v-list-item-content>
                    <v-list-item-title
                      v-html="element.name"
                      id="edit"
                      @click.stop="editItem(element)"
                      class="body-2"
                    ></v-list-item-title>
                    <v-list-item-subtitle
                      v-html="element.description"
                    ></v-list-item-subtitle>
                  </v-list-item-content>

                  <v-list-item-action v-if="element.due_date">
                    <v-responsive
                      class="mr-0 mr-md-6 hidden-sm-and-down"
                      max-width="350"
                    >
                      <v-tooltip
                        bottom
                        :open-delay="0"
                        transition="slide-x-transition"
                      >
                        <template v-slot:activator="{ on }">
                          <v-btn
                            :color="
                              `${
                                timeSince(element.due_date) ? 'red' : 'grey'
                              } darken-2`
                            "
                            small
                            text
                            v-on="on"
                            :icon="timeSince(element.due_date) ? false : true"
                          >
                            <v-icon dark left class="pa-0 ma-0" small
                              >mdi-calendar</v-icon
                            >
                            <span v-if="timeSince(element.due_date)">
                              {{ element.due_date | shortDate }}
                            </span>
                          </v-btn>
                        </template>
                        <div class="text-xs-center">
                          <div class="body-2">Due Date</div>
                          <!-- <div class="red--text text--lighten-2">{{ timeSince(element.due_date) }}</div> -->
                        </div>
                      </v-tooltip>
                    </v-responsive>
                  </v-list-item-action>
                </v-list-item>
              </v-list>
            </draggable>
          </v-card>
        </v-col>
      </v-row>
      <base-confirm-dialog ref="confirmDialog"></base-confirm-dialog>
    </v-col>
  </v-row>
</template>
<script lang="ts">
import Vue from "vue";
import draggable from "vuedraggable";
import { get, sync, commit } from "vuex-pathify";
import { timeSince } from "@/utils/timeSince";
import { searchItems } from "@/utils/helpers";

export default Vue.extend({
  components: {
    draggable
  },
  data: () => ({
    openTasks: [],
    inProgressTasks: [],
    doneTasks: [],
    editable: true,
    isDragging: false,
    delayedDragging: false,
    width: "4",
    task: null,
    query: "",

    allTasks: []
  }),
  computed: {
    rightDrawer: sync("app/rightDrawer"),
    navigationData: sync("app/rightNavData"),
    user: get("auth/getuser"),
    API: get("api/API"),
    dragOptions() {
      return {
        animation: 1,
        group: "description",
        disabled: !this.editable,
        ghostClass: "ghost"
      };
    },
    getOpenTasks() {
      return searchItems(this.openTasks, this.query);
    },
    getInprogressTasks() {
      return searchItems(this.inProgressTasks, this.query);
    },
    getDoneTasks() {
      return searchItems(this.doneTasks, this.query);
    }
  },
  methods: {
    timeSince,
    onMove(evt) {
      const draggedElement = evt.draggedContext.element;
      this.task = draggedElement;
      return true;
    },
    updateList(evt) {
      // console.log("VAL:", evt);
      var currentState = 0;

      if (evt.to.id === "open") {
        currentState = 1;
      } else if (evt.to.id === "inprogress") {
        currentState = 3;
      } else if (evt.to.id === "done") {
        currentState = 5;
      }

      if (this.task.status != currentState) {
        currentState = this.task.status;
        switch (evt.to.id) {
          case "open":
            this.task = Object.assign({}, this.task);
            this.task.status = 1;
            this.API.update(this.task);
            break;
          case "inprogress":
            this.task = Object.assign({}, this.task);
            this.task.status = 3;
            this.API.update(this.task);
            break;
          case "done":
            this.task = Object.assign({}, this.task);
            this.task.status = 5;
            this.API.update(this.task);
            break;
        }
      }
    },
    changeOrder(val) {},
    startList(val) {
      this.isDragging = true;
    },
    async addItem(type) {
      if (type)
        await this.$refs.KanbanTaskFormDialog.open({ status: type }, true);
      else await this.$refs.KanbanTaskFormDialog.open({}, true);
      // this.setDrawerRight(!this.$store.state.app.drawerRight);

      // todo.push({});
    },
    async editItem(task) {
      await this.$refs.KanbanTaskFormDialog.open(task, false);
    },

    async deleteItem(task) {
      if (
        await this.$refs.confirmDialog.open(
          "Delete Confirmation",
          "Are you sure you want to permanently delete this task? This process cannot be undone.",
          {}
        )
      ) {
        this.API.delete(task.id);
      }
    },
    async selectTask(element, oldelement) {
      console.log(element);

      if (element) {
        // this.navigationData = element
        await commit("app/setRightNavData", element);
        this.rightDrawer = !this.rightDrawer;

        //   console.log(element.id, " : ", this.navigationData.id);
        //   if (element.id == this.navigationData.id) {
        //     this.setNavigationData(element);
        //     console.log("SAME");
        //     this.toggleDrawerRight();
        //   } else {
        //     this.setNavigationData(element);
        //     console.log("DIFF");
        //     this.setDrawerRight(true);
        //   }
        // } else {
        //   this.setDrawerRight(false);
        //   // this.setNavigationData(null);
        // }
      }
    }
  },
  watch: {
    isDragging(newValue) {
      if (newValue) {
        this.delayedDragging = true;
        return;
      }
      this.$nextTick(() => {
        this.delayedDragging = false;
      });
    }
  },
  filters: {
    capitalize: function(value) {
      if (!value) return "";
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    },

    shortDate: function(value) {
      const date = new Date(value);
      var currentDate = date.toLocaleString(["en-US"], {
        day: "2-digit",
        month: "short"
      });
      return currentDate;
    }
  },
  async mounted() {
    // console.log("USER", this.user, "PROPS", this.value, this.api);
    await this.API.init();
    // console.log(this.$route.params.id);

    this.API.fetch()
      .then((res: any) => {
        this.allTasks = res;
        console.log(res);
        console.log(this.allTasks);
        return this.allTasks;
      })
      .then(res => {
        this.openTasks = res.filter(({ status }) => status == 1);
        this.inProgressTasks = res.filter(({ status }) => status == 3);
        this.doneTasks = res.filter(({ status }) => status == 5);
      });
  }
});
</script>
