<template>
  <v-menu
    v-model="profile"
    :close-on-content-click="false"
    :nudge-width="250"
    nudge-bottom="20"
    nudge-right="20"
    offset-y
  >
    <template v-slot:activator="{ on }">
      <v-avatar color="grey" size="36" class="mx-1" v-on="on">
        <v-icon dark>mdi-account-circle</v-icon>
      </v-avatar>
    </template>
    <v-scroll-y-transition mode="out-in" leave-absolute>
      <v-card class="mx-auto" flat style="border-radius: 10px;">
        <v-row align="center" justify="center">
          <v-col cols="12" align="center" class="text-center">
            <v-avatar color="grey" size="72" class="mx-1 my-3">
              <v-img
                src="https://cdn.vuetifyjs.com/images/john.jpg"
                alt="John"
              ></v-img>
            </v-avatar>
            <v-avatar
              size="24"
              color="white"
              style="margin-left:-25px; margin-bottom:-35px;"
            >
              <v-icon small>mdi-camera</v-icon>
            </v-avatar>

            <h3 class="font-weight-regular mb-0">{{ null }}</h3>
            <div class="body-2 blue--text mb-2">{{ null }}</div>
            <div class="blue--text subheading font-weight-bold mb-1">
              {{ null }}
            </div>
            <v-btn
              color="grey darken-2"
              rounded
              outlined
              small
              raised
              class="text-capitalize caption"
              @click="profile = false"
              >View your Account</v-btn
            >
            <v-btn
              color="grey darken-2"
              rounded
              outlined
              small
              raised
              class="text-capitalize caption"
              @click="profile = false"
              >View your Account</v-btn
            >
          </v-col>
        </v-row>

        <v-divider class="my-2"></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="grey darken-2"
            class="text-capitalize caption"
            outlined
            @click="profile = false"
            >Sign out</v-btn
          >
          <v-spacer></v-spacer>
        </v-card-actions>
        <v-divider class="my-2"></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <span class="overline">Privacy Policy</span>
          <span class="display-1" style="margin-top:-21px">.</span>
          <span class="overline">Terms of service</span>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-scroll-y-transition>
  </v-menu>
</template>

<script>
import {
  reactive,
  computed,
  toRefs,
  ref,
  watch,
  onBeforeUnmount,
  onMounted
} from "@vue/composition-api";

import { createComponent } from "@vue/composition-api";
const pause = ms => new Promise(resolve => setTimeout(resolve, ms));

export default createComponent({
  setup(_, ctx) {
    // const {
    //   CURRENT_USER,
    //   SELECTED_USER,
    //   fetchUser,
    //   userfetchErrorMessage,
    // } = userComposition()
    // const { logout } = loginComposition()
    // onMounted(() => {})
    // const signOut = async () => {
    //   await pause(1000)

    //   await logout()
    //     .then()
    //     .catch(err => {
    //       console.warn('ERROR:', err)
    //     })
    // }

    const profile = ref(false);

    return {
      //   signOut,
      profile
      //   CURRENT_USER,
      //   SELECTED_USER,
      //   userfetchErrorMessage,
    };
  }
});
</script>

<style></style>
