<template>
  <v-app-bar id="app-bar" app clipped-left clipped-right color="primary" dark>
    <v-app-bar-nav-icon @click="drawer = !drawer" />

    <base-app-logo />

    <v-spacer />

    <app-search />

    <v-spacer />

    <user-avatar />

    <!-- <base-store-link />

    <base-enterprise-link />

    <base-ecosystems-menu />

    <base-support-menu />-->
  </v-app-bar>
</template>

<script>
// Utilities
import { sync } from "vuex-pathify";

export default {
  name: "AppBar",

  components: {
    AppSearch: () => import("./Search")
  },

  computed: { drawer: sync("app/drawer") }
};
</script>
