<template>
  <v-breadcrumbs
    v-if="structure !== false"
    :items="breadcrumbs"
    class="px-7 py-0 pt-1"
  />
</template>

<script>
// Utilities
import { get, sync } from "vuex-pathify";

export default {
  name: "LayoutBreadcrumbs",

  data: () => ({
    script: null
  }),

  computed: {
    breadcrumbs: get("documentation/breadcrumbs"),
    structure: sync("documentation/structure")
  },

  watch: {
    "$route.path": {
      immediate: true,
      handler() {
        if (!this.breadcrumbs.length || this.breadcrumbs[0].disabled) return;
      }
    }
  },

  methods: {}
};
</script>
