<template>
  <v-navigation-drawer v-model="drawer" :width="220" app clipped>
    <!-- <v-container>
      <div class="text-center">
        <v-responsive min-height="81">
        </v-responsive>
      </div>
    </v-container>

    <v-divider class="my-0" />-->

    <v-list class="pt-3 pb-7" dense expand nav>
      <template v-for="(item, i) in items">
        <v-subheader
          v-if="item.header"
          :key="`subheader-${i}`"
          v-text="item.header"
        />

        <v-divider v-else-if="item.divider" :key="`divider-${i}`" />

        <base-group v-else-if="item.group" :key="`group-${i}`" :item="item" />

        <base-item
          v-else
          :key="`item-${i}`"
          :chip="genChip(item)"
          :icon="item.icon"
          :subtext="item.subtext"
          :text="item.text"
          :to="item.to"
          :namespace="item.namespace"
        />
      </template>
    </v-list>

    <template v-slot:append>
      <v-divider />

      <div class="px-4 py-2 d-flex">
        <base-locales-menu />

        <base-versions-menu />
        <!-- DEV ONLY -->
        <v-spacer />

        <base-theme-toggle />
      </div>
    </template>
  </v-navigation-drawer>
</template>

<script>
import { sync } from "vuex-pathify";

// import Vue from "vue";
import kebabCase from "lodash/kebabCase";
import { genChip } from "@/utils/componentHelpers";
// @ts-ignore
export default {
  name: "drawer",
  computed: {
    ...sync("app/*"),
    links: sync("documentation/links"),
    children() {
      return this.item.children.map(item => ({
        ...item,
        to: `${this.item.group}/${item.namespace}`
      }));
    },
    group() {
      return this.item.children
        .map(item => {
          return `${this.item.group}/${kebabCase(item.name)}`;
        })
        .join("|");
    },
    items() {
      return this.links.map(this.addLanguagePrefix);
    }
  },
  watch: {
    $route() {
      if (this.stateless && this.drawer && this.$vuetify.breakpoint.mdAndDown)
        this.drawer = false;
    }
  },
  methods: {
    genChip,
    addLanguagePrefix(item) {
      const { children, subtext, ...props } = item;
      const newItem = {
        ...props,
        text: `${item.text}`
      };

      if (children) {
        newItem.children = children.map(this.addLanguagePrefix);
      }

      if (subtext) {
        newItem.subtext = `${item.subtext}`;
      }

      return newItem;
    }
  }
};
</script>
