<template>
  <v-app>
    <!-- <core-system-bar /> -->
    <layout-app-bar />

    <layout-drawer />
    <layout-right-drawer />

    <layout-view />

    <!--<layout-toc />-->

    <layout-fab />
  </v-app>
</template>

<script>
// This component is used as a wrapper
// to handle language based routing.
export default {
  name: "LayoutsRoot",
  components: {
    LayoutAppBar: () => import("./AppBar"),
    LayoutDrawer: () => import("./Drawer"),
    LayoutRightDrawer: () => import("./RightDrawer"),
    LayoutFab: () => import("./Fab"),
    // LayoutToc: () => import("./Toc"),
    LayoutView: () => import("./View")
  }
};
</script>
