<template>
  <v-navigation-drawer v-model="rightDrawer" right :width="700" fixed temporary>
    <!-- <v-container>
      <div class="text-center">
        <v-responsive min-height="81">
        </v-responsive>
      </div>
    </v-container>-->
    <v-toolbar flat class="transparent">
      <span class="subheading font-weight-medium">
        <div class="pb-2 pt-3">
          <v-edit-dialog
            :return-value.sync="rightNavData.name"
            lazy
            @save="save(rightNavData)"
            @close="close"
          >
            <base-heading :code="rightNavData.name" />
            <template v-slot:input>
              <v-text-field
                v-model="rightNavData.name"
                label="Edit"
                single-line
              ></v-text-field>
            </template>
          </v-edit-dialog>
        </div>
        <div class="caption">#{{ rightNavData.id }}</div>
      </span>
      <v-spacer></v-spacer>
      <v-btn icon class="ml-2" @click="rightDrawer = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-toolbar>
    <v-divider class="my-0" />

    <v-list class="pt-3 pb-7" dense expand nav>
      <v-list-item three-line>
        <v-list-item-content>
          <v-list-item-title>{{ rightNavData.name }}</v-list-item-title>
          <v-list-item-subtitle>
            Created: {{ timeSince(rightNavData.created) }}
          </v-list-item-subtitle>
          <v-list-item-subtitle>
            consectetur adipiscing elit.
          </v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-action>
          <v-edit-dialog
            :return-value.sync="rightNavData.name"
            lazy
            @save="save(rightNavData)"
            @close="close"
            class="pa-0 ma-0"
          >
            <v-list-item-action-text id="edit" class="pl-5 pb-3"
              >edit</v-list-item-action-text
            >
            <template v-slot:input class="pa-0 ma-0">
              <v-text-field
                v-model="rightNavData.name"
                :rules="[max32chars]"
                label="Edit"
                single-line
                class="pa-0 ma-0"
              ></v-text-field>
            </template>
          </v-edit-dialog>
          <!-- <v-icon color="grey lighten-1"></v-icon> -->
        </v-list-item-action>
      </v-list-item>

      <v-list-item two-line v-if="rightNavData.status">
        <v-list-item-content>
          <v-list-item-title>Status</v-list-item-title>
          <v-list-item-subtitle>
            <span
              :class="
                `caption ${status(rightNavData.status).color} pa-2 white--text`
              "
              style="border-radius: 20px;"
              >{{
                rightNavData.status ? status(rightNavData.status).value : "None"
              }}</span
            >
          </v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-action>
          <v-menu
            v-model="menu2"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="slide-x-transition"
            offset-y
            width="150px"
            height="150px"
          >
            <template v-slot:activator="{ on }">
              <v-list-item-action-text id="edit" v-on="on"
                >edit</v-list-item-action-text
              >
            </template>
            <v-card class="white">
              <v-select
                v-model="rightNavData.status"
                :items="items"
                @input="
                  save(rightNavData);
                  menu2 = false;
                "
                filled
                item-text="text"
                item-value="value"
                label="Select Label"
                single-line
              >
                <template slot="item" slot-scope="data">
                  <v-list-item-content>
                    <v-list-item-title class="pa-0 ma-0">{{
                      data.item.text
                    }}</v-list-item-title>
                  </v-list-item-content>
                  <v-list-item-action>
                    <v-icon :color="data.item.color">mdi-solid</v-icon>
                  </v-list-item-action>
                  <!-- </v-list-item> -->
                </template>
              </v-select>
            </v-card>
          </v-menu>
          <v-icon></v-icon>
        </v-list-item-action>
      </v-list-item>
    </v-list>

    <template v-slot:append>
      <!-- DEV ONLY -->

      <!-- <v-divider />

      <div class="px-4 py-2 d-flex">
        <base-locales-menu /> -->

      <!-- <base-versions-menu /> -->
      <!-- <v-spacer />

        <base-theme-toggle />
      </div> -->
      <!-- DEV ONLY -->
    </template>
  </v-navigation-drawer>
</template>

<script lang="ts">
import { get, sync } from "vuex-pathify";

import Vue from "vue";
import kebabCase from "lodash/kebabCase";
import { genChip } from "@/utils/componentHelpers";
import { timeSince } from "@/utils/timeSince";
// @ts-ignore
export default Vue.extend({
  name: "rightDrawer",

  provide() {
    if (!this.rightNavData) return;

    return {
      id: this.rightNavData.name
    };
  },

  data: () => ({
    menu: false,
    menu2: false,
    max32chars: v => v.length <= 32 || "Input too long!",

    items: [
      { text: "Open", color: "red", value: 1 },
      { text: "In Progress", color: "orange", value: 3 },
      { text: "Done", color: "green", value: 5 }
    ]
  }),

  computed: {
    ...sync("app/*"),
    API: get("api/API")
    // links: sync("documentation/links"),
    // children() {
    //   return this.item.children.map(item => ({
    //     ...item,
    //     to: `${this.item.group}/${item.namespace}`
    //   }));
    // },
    // group() {
    //   return this.item.children
    //     .map(item => {
    //       return `${this.item.group}/${kebabCase(item.name)}`;
    //     })
    //     .join("|");
    // },
    // items() {
    //   return this.links.map(this.addLanguagePrefix);
    // }
  },
  watch: {
    $route() {
      if (
        this.stateless &&
        this.rightDrawer &&
        this.$vuetify.breakpoint.mdAndDown
      )
        this.rightDrawer = false;
    }
    // rightDrawer: {
    //   // handler() {
    //   //   this.save(this.rightNavData);
    //   // }
    // }
  },
  methods: {
    genChip,
    timeSince,
    save(rightNavData) {
      // set snackbar
      this.API.update(rightNavData)
        .then(result => {
          this.$store.commit("snackbar/setSnackbar", {
            color: "primary",
            href: false,
            msg: `Edited: tasks, "${result.name}"`,
            text: "Close",
            to: false,
            timeout: 6000,
            action: err => {
              this.API.fetch();
            }
          });
        })
        .catch(err => {
          this.$store.commit("snackbar/setSnackbar", {
            color: "error",
            href: false,
            msg: `Failed: ${err.code}, ${err.detail || err}`,
            text: "Close",
            to: false,
            timeout: 6000,
            action: err => {
              this.rightDrawer(false);
            }
          });
        });
      // console.log("Dialog closed");
    },
    closeNav() {},
    close() {
      console.log("Dialog closed");
    },
    status(status: number) {
      switch (status) {
        case 1:
          return {
            value: "Open",
            color: "red"
          };
        case 3:
          return {
            value: "In Progress",
            color: "orange"
          };
        case 5:
          return {
            value: "Done",
            color: "green"
          };
        default:
          return {
            value: status,
            color: "secondary"
          };
      }
    }
    // addLanguagePrefix(item) {
    //   const { children, subtext, ...props } = item;
    //   const newItem = {
    //     ...props,
    //     text: `${item.text}`
    //   };

    //   if (children) {
    //     newItem.children = children.map(this.addLanguagePrefix);
    //   }

    //   if (subtext) {
    //     newItem.subtext = `${item.subtext}`;
    //   }

    //   return newItem;
    // }
  }
});
</script>
<style scoped>
#edit:hover {
  text-decoration: underline;
  cursor: pointer;
}
</style>
