<template>
  <v-btn
    :loading="loading"
    color="primary"
    class="mb-2"
    v-if="outside"
    @click.native="authenticate('google')"
  >
    <v-icon small left>mdi-google</v-icon>Sign In
  </v-btn>
</template>
<script lang="ts">
import Vue from "vue";
// import Api from '@/api'
import { twitterAuth, googleAuth } from "@/services/social";
import { VueAuthenticate } from "vue-authenticate";

export default Vue.extend({
  name: "twitter-authenticate",
  props: ["outside"],
  data: () => ({
    loading: false,
    authenticated: false,
    response: null
  }),
  computed: {
    analy() {
      return this.authenticated;
    }
  },
  methods: {
    async authenticate(provider) {
      this.loading = true;
      this.response = null;
      const this_ = this;

      await googleAuth
        .authenticate(provider)
        .then(function(authResponse) {
          this_.authenticated = true;
          this_.response = authResponse.body.profile;
          console.log(`${provider} authentication successful`);
          this_.loading = false;
          return this_.authenticated;
        })
        .catch(function(err) {
          this_.authenticated = true;
          this_.response = err;
          console.log(`${provider} authentication failed`, this_.authenticated);
          this_.loading = false;
          return this_.authenticated;
        });
      // return this.authenticated
    }
  }
});
</script>

<style scoped></style>
