<template>
  <v-app>
    <!-- <core-system-bar /> -->

    <auth-app-bar v-if="$route.name == 'Select'" />
    <!-- <core-banner /> -->

    <auth-view />

    <!-- <auth-footer /> -->
  </v-app>
</template>

<script>
export default {
  name: "LayoutsAuth",
  components: {
    AuthAppBar: () => import("./AppBar"),
    // AuthFooter: () => import("./Footer"),
    AuthView: () => import("./View")
  }
};
</script>
