<template>
  <v-content>
    <v-responsive class="mx-auto overflow-visible">
      <v-container fluid class="pa-0">
        <v-responsive class="overflow-visible" min-height="90vh">
          <router-view />
        </v-responsive>

        <!-- <documentation-contribution /> -->
        <core-create />
      </v-container>
    </v-responsive>
    <!-- <core-snack-bar></core-snack-bar> -->
  </v-content>
</template>

<script>
export default {
  name: "FrontendVIew"
};
</script>
