<template>
  <router-link
    :to="{
      name: 'Home',
      params: {
        lang: $route.params.lang
      }
    }"
    aria-label="Expoleap Home Page"
    class="d-flex align-center"
    title="Expoleap Home Page"
    @click.native="$vuetify.goTo(0)"
  >
    <v-img
      alt="Expoleap Logo"
      class="shrink mr-2"
      contain
      :src="require('@/assets/logos/expoleap_logo_white.png')"
      transition="scroll-y-transition"
      width="130"
      style="
            display: block;
            max-height:95px;
            height: auto;"
    />

    <!-- <v-img
      alt="Expoleap Name"
      class="shrink mt-1 hidden-sm-and-down"
      contain
      min-width="100"
      src="https://cdn.vuetifyjs.com/images/logos/vuetify-name-dark.png"
      width="100"
    />-->
  </router-link>
</template>

<script>
export default {
  name: "BaseVuetifyLogo"
};
</script>
