<template>
  <v-dialog
    v-model="dialog"
    :max-width="options.width"
    :style="{ zIndex: options.zIndex }"
    @keydown.esc="cancel"
    overlay-opacity=".9"
    persistent
  >
    <v-card v-if="!error">
      <v-card-title class="primary--text pt-4">
        <span class="title primary--text">{{ title }}</span>
      </v-card-title>
      <v-card-text v-show="!!message" v-html="message"></v-card-text>
      <v-card-text v-if="name">
        <v-text-field
          v-model="match"
          autofocus
          outlined
          dense
          persistent-hint
          label="Event name"
          :hint="`Type in <${name}> to delete`"
        >
          <template v-slot:message="{ message }">
            <span
              class="subtitle-2"
              v-html="`Type in <code>${name}</code> to delete`"
            ></span>
          </template>
        </v-text-field>
      </v-card-text>
      <v-card-actions class="pt-0">
        <v-spacer></v-spacer>
        <v-btn
          color="grey lighten-1"
          class="white--text"
          rounded
          @click.native="cancel"
          >Cancel</v-btn
        >
        <v-btn color="error" rounded :disabled="!matched" @click.native="agree">
          <v-icon left small>mdi-delete-empty-outline</v-icon>Delete
        </v-btn>
        <v-spacer></v-spacer>
      </v-card-actions>
    </v-card>
    <v-card v-else>
      <v-card-title primary-title>Error Occured</v-card-title>
      <v-card-text>Click here to go back</v-card-text>
      <v-card-actions class="pt-0">
        <v-spacer></v-spacer>
        <v-btn color="error" outlined @click="dialog = false">
          <v-icon left small>mdi-cached</v-icon>Get me out of here
        </v-btn>
        <v-spacer></v-spacer>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
export default {
  data: () => ({
    dialog: false,
    resolve: null as any,
    reject: null as any,
    message: "",
    error: false,
    match: "",
    name: "",
    confirm: false,
    title: "",
    options: {
      width: 480,
      zIndex: 200
    }
  }),
  computed: {
    matched() {
      if (this.name) {
        if (this.match == this.name) {
          return true;
        } else {
          return false;
        }
      } else {
        return true;
      }
    }
  },
  methods: {
    open(
      title: string = "",
      message: string = "",
      name: string,
      id: number,
      options?: any
    ): Promise<any | boolean> {
      !id ? (this.error = true) : (this.error = false);
      this.dialog = true;
      this.title = title;
      this.name = name;
      this.message = message;
      // this.confirm = confirm(message);
      this.options = Object.assign(this.options, options);
      return new Promise((resolve: any, reject: any): void => {
        this.resolve = resolve;
        this.reject = reject;
      });
    },
    close() {
      this.name = "";
      this.confirm = false;
      this.match = "";
      this.title = "";
    },
    agree() {
      this.resolve(true);
      this.dialog = false;
    },
    cancel() {
      this.resolve(false);
      this.dialog = false;
    }
  },
  watch: {
    dialog(val) {
      val || this.close();
    }
  }
};
</script>

<style></style>
