<template>
  <v-list-group
    :group="group"
    :prepend-icon="item.icon"
    :sub-group="subGroup"
    no-action
  >
    <template v-slot:activator>
      <v-list-item-content class="v-list-group__activator">
        <v-list-item-title>
          <base-markdown>{{ item.text }}</base-markdown>
        </v-list-item-title>
      </v-list-item-content>
    </template>
    <template v-for="(child, i) in children">
      <base-sub-group
        v-if="child.group != null"
        :key="`sub-group-${i}`"
        :item="child"
      />
      <base-item
        v-else
        :key="`item-${i}`"
        :chip="genChip(child)"
        :icon="child.icon"
        :subtext="child.subtext"
        :to="child.to"
        :namespace="child.namespace"
        :text="child.text"
      />
    </template>
  </v-list-group>
</template>
<script lang="ts">
import Vue from "vue";
import { mapMutations, mapState } from "vuex";

// Utilities
import kebabCase from "lodash/kebabCase";
import { genChip } from "@/utils/componentHelpers";

export default Vue.extend({
  inheritAttrs: false,

  props: {
    item: {
      type: Object,
      default: () => ({
        text: "",
        group: "",
        children: []
      })
    },
    subGroup: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    children() {
      return this.item.children.map(item => ({
        ...item,
        to: `${this.item.group}/${item.namespace}`
      }));
    },
    group() {
      return this.genGroup(this.item.children);
    }
  },

  methods: {
    genChip,
    genGroup(children: any) {
      return children
        .map((item: any) => {
          const parent = item.group || this.item.group;
          let group = `${parent}/${kebabCase(item.namespace)}`;

          if (item.children) {
            group = `${group}|${this.genGroup(item.children)}`;
          }

          return group;
        })
        .join("|");
    }
  }
});
</script>

<style>
.v-list-group__activator p {
  margin-bottom: 0;
}
</style>
