<template>
  <v-menu
    max-height="500"
    offset-y
    right
    top
    transition="slide-y-reverse-transition"
  >
    <template v-slot:activator="{ attrs, on }">
      <v-btn
        class="text--secondary text-lowercase"
        rounded
        text
        v-bind="attrs"
        v-on="on"
      >
        <span v-text="version" />
      </v-btn>
    </template>

    <v-card>
      <v-list dense nav>
        <v-subheader v-text="'DOCS'" />

        <base-item
          v-for="(archive, i) in archives"
          :key="`archives-${i}`"
          v-bind="archive"
          no-markdown
        />

        <v-divider />

        <v-subheader v-text="'releases'" />

        <base-item
          v-for="(release, i) in releases"
          :key="`releases-${i}`"
          v-bind="release"
          no-markdown
        />
      </v-list>
    </v-card>
  </v-menu>
</template>

<script>
// Utilities
import { sync } from "vuex-pathify";

export default {
  name: "BaseVersionsMenu",

  computed: {
    currentVersion: sync("app/currentVersion"),
    archives() {
      return [
        {
          icon: "mdi-rocket",
          text: "Dev Mode",
          subtext: "For devs"
        }
      ];
    },
    releases() {
      return [
        {
          icon: "mdi-star-box",
          text: "Dev Mode",
          subtext: this.version
        }
      ];
    },
    version() {
      return `v${this.currentVersion}`;
    }
  }
};
</script>
