<template>
  <v-container class="fill-height pa-0 ma-0" fluid>
    <v-row align="center" justify="center" v-if="isLoading">
      <v-col align="center" justify="center">
        <v-progress-circular
          indeterminate
          color="primary"
        ></v-progress-circular>
      </v-col>
    </v-row>

    <v-row
      no-gutters
      align="center"
      justify="center"
      class="fill-height"
      v-else-if="selectChildren !== false"
      :id="`${selectChildren}`"
    >
      <!-- add page structurer for dselect -->
      <component
        v-if="selectChildren['children'] !== null"
        :is="getPage(selectChildren['children'].type)"
        :key="`${selectChildren.title}`"
        :value="selectChildren.children.children"
        :api="selectChildren.api"
      />
    </v-row>
    <not-found v-else />
  </v-container>
</template>

<script lang="ts">
import { loadApi } from "@/mixins/Apindex";

// import Vue from "vue";
import {
  getPage,
  getComponent,
  waitForReadystate
} from "@/utils/componentHelpers";
import {
  ref,
  reactive,
  computed,
  toRefs,
  onMounted,
  onBeforeUnmount,
  watch,
  createComponent
} from "@vue/composition-api";

import {
  useRouter,
  useStore,
  useGetters,
  useState,
  useMutations
} from "@u3u/vue-hooks";
import { camelCase, kebabCase, upperFirst } from "lodash";
// import { get, sync } from "vuex-pathify";
export default createComponent({
  // export default Vue.extend({
  name: "Home",

  components: {},
  setup(props, { root }) {
    const { route, router } = useRouter(); // providing non-string value will result in error
    const store = useStore();
    const isLoading = ref(false);
    const pause = (ms: number) =>
      new Promise(resolve => setTimeout(resolve, ms));
    // storew
    const state = {
      ...useState("documentation", ["structure"])
    };
    const getters = {
      ...useState("documentation", ["structure, api_name"])
    };
    const mutations = {
      ...useMutations("documentation", ["SET_STRUCTURE"])
    };

    const selectOptions: any = reactive({
      isLoading: false,
      pages: null
    });
    const selectChildren: any = computed({
      get: () => selectOptions.pages,
      set: val => (selectOptions.pages = val)
    });
    const $store = root.$store;
    const $router = ref(root.$router);

    async function load(store: any): Promise<void> {
      const setStructure = (structure?: boolean | null | object) => {
        selectChildren.value = structure;
      };
      setStructure(null);

      isLoading.value = true;

      try {
        const res = (await import(`@/data/pages/app/select/select.json`))
          .default;
        await pause(1000);
        if (res["api"]) await loadApi(store, res["api"]);

        setStructure(res);
      } catch (err) {
        console.warn("ERROR_PAGE_DATA: \t", err);
        setStructure(false);
      }
      isLoading.value = false;
    }

    const stop = watch(
      () => $router,
      async (route, prevRoute) => {
        await load($store);
      },
      { lazy: true, flush: "post", deep: true }
    );

    onBeforeUnmount(() => {
      stop();
    });

    onMounted(async () => {
      await waitForReadystate();

      load($store);
    });

    return {
      isLoading,
      ...toRefs(selectOptions),
      selectChildren,
      getPage
    };
  }
});
</script>
