<template>
  <v-content>
    <!-- <v-responsive min-height="100vh"> -->
    <router-view />
    <!-- </v-responsive> -->
    <core-create />
  </v-content>
</template>

<script>
export default {
  name: "FrontendVIew"
};
</script>
