<template>
  <v-fade-transition mode="out-in">
    <router-view></router-view>
  </v-fade-transition>
</template>

<script lang="ts">
import Vue from "vue";
import Meta from "@/mixins/meta";

// Utilities
import { waitForReadystate } from "@/utils/componentHelpers";

// Data
import languages from "@/data/i18n/languages.json";
const pause = (ms: number) => new Promise(resolve => setTimeout(resolve, ms));

export default Vue.extend({
  name: "App",

  mixins: [Meta],

  data: () => ({
    availableLocales: languages.map(lang => lang.alternate || lang.locale),
    languages
  }),

  computed: {
    languageIsValid(): boolean {
      return this.availableLocales.includes(`${this.$route.params.lang}`);
    }
  },

  watch: {
    "$route.path"() {
      typeof window !== "undefined" && window.scrollTo(0, 0);
    }
  },

  async created() {
    // if (!this.languageIsValid) this.$router.replace("/en");
    await pause(3000);

    if (!this.availableLocales.includes(`${this.$route.params.lang}`)) {
      console.log("not in language");

      this.$router.replace("/en");
    }
    console.log(
      "in lang",
      this.availableLocales.includes(`${this.$route.params.lang}`)
    );

    console.log("LANG", this.$route.params.lang);

    // if (this.$ssrContext) return;

    this.$vuetify.theme.dark = localStorage.getItem("app__theme") === "true";
  },

  async mounted() {
    if (!this.$route.hash) return;

    await this.$nextTick();
    await waitForReadystate();

    this.$vuetify.goTo(this.$route.hash);
  }
});
</script>
