<template>
  <v-container class="fill-height pa-0 ma-0" fluid>
    <v-row align="center" justify="center" v-if="isLoading">
      <v-col align="center" justify="center">
        <v-progress-circular
          indeterminate
          color="primary"
        ></v-progress-circular>
      </v-col>
    </v-row>
    <v-row align="center" justify="center" v-else-if="authChildren !== false">
      <v-col cols="12">
        <!-- Auth Form -->
        <!-- <router-view></router-view> -->
        <v-fade-transition group>
          <component
            v-for="(child, i) in authChildren.children"
            :is="getAuthPage(child.type)"
            :key="`${authChildren.title}-${i}`"
            :value="child"
            :api="authChildren.api"
          />
        </v-fade-transition>
        <!-- <auth-card></auth-card> -->
        <!-- Auth Form -->

        <v-card
          class="mx-auto my-3 mx-1 caption"
          flat
          color="transparent"
          rounded
          :width="step <= 3 ? 450 : 700"
          :max-width="step <= 3 ? 450 : 700"
          style="border-radius: 7px"
        >
          <div
            style="max-width: 450px;width: 450px"
            class="mx-auto d-inline-flex"
          >
            <span style="cursor: pointer">
              <base-locales-menu />

              <v-icon small class="ml-0 pl-0">mdi-menu-down</v-icon>
            </span>
            <div class="flex-grow-1"></div>
            <span class="px-4">Privacy</span>
            <span>Terms</span>
          </div>
        </v-card>
      </v-col>
    </v-row>
    <not-found v-else />
  </v-container>
</template>

<script lang="ts">
import {
  Ref,
  ref,
  createComponent,
  reactive,
  toRefs,
  onMounted,
  computed,
  onBeforeUnmount,
  watch,
  provide,
  InjectionKey
} from "@vue/composition-api";
import { getAuthPage } from "@/utils/componentHelpers";
import { loadApi } from "@/mixins/Apindex";

import { useRouter } from "@u3u/vue-hooks";
import { camelCase, kebabCase, upperFirst } from "lodash";

export default createComponent({
  props: {},
  components: {
    NotFound: () => import("@/views/general/404")
    // PageSkeletonLoader: () => import("./SkeletonLoader")
  },
  setup(props, { root }) {
    const { route, router } = useRouter(); // providing non-string value will result in error

    // const foo = inject(key)
    // APP LEVEL FUNCTION AND VALUES
    const pause = ms => new Promise(resolve => setTimeout(resolve, ms));
    const companyName = ref("Altoleap");
    const step = ref(1);

    const authOptions: any = reactive({
      isLoading: false,
      pages: null
    });
    const $store = root.$store;
    const $router = ref(root.$router);

    async function load(route: any, store: any): Promise<void> {
      // const namespace = kebabCase(route.namespace);
      const page = kebabCase(route.page);

      const setStructure = (structure?: boolean | null) => {
        authChildren.value = structure;
      };
      // await store.commit("documentation/SET_STRUCTURE", structure);

      // setStructure(null);

      authOptions.isLoading = true;

      try {
        const res = (await import(`@/data/pages/auth/${page}.json`)).default;
        console.log("DEFAULT_PAGE_DATA: \t", store);
        await pause(1000);
        if (res["api"]) await loadApi(store, res["api"]);

        setStructure(res);
      } catch (err) {
        console.warn("ERROR_PAGE_DATA: \t", err);
        setStructure(false);
      }

      authOptions.isLoading = false;
    }

    const stop = watch(
      () => $router,
      async (route, prevRoute) => {
        console.log(route);
        await load(route.value.currentRoute.params, $store);
      },
      { flush: "post", deep: true }
    );

    onBeforeUnmount(() => {
      stop();
    });

    onMounted(async () => {});

    const authChildren: any = computed({
      get: () => authOptions.pages,
      set: val => (authOptions.pages = val)
    });
    return {
      step,
      companyName,
      authChildren,
      getAuthPage,
      ...toRefs(authOptions)
    };
  }
});
</script>
