<template>
  <v-card
    class="mx-auto"
    :loading="loading"
    outlined
    rounded
    :width="step <= 3 ? 450 : 700"
    :max-width="step <= 3 ? 450 : 700"
    height="500"
    max-height="500"
    style="border-radius: 8px"
  >
    <v-row class="fill-height">
      <v-col cols="12" class="pt-0">
        <v-toolbar color="transparent" dense flat>
          <div class="flex-grow-1"></div>
          <v-img
            class="mx-auto mt-12"
            height="80"
            contain
            v-if="step !== 3"
            :src="companyImage"
          ></v-img>
          <div class="flex-grow-1"></div>
        </v-toolbar>
      </v-col>
      <v-col cols="12">
        <v-card-text>
          <v-window v-model="step">
            <v-window-item :to="{ name: 'forgot-password' }" :value="1">
              <v-row class="mx-4">
                <v-col cols="12">
                  <v-card-title
                    class="grey--text text--darken-3 headline font-weight-regular justify-center pb-2"
                    >Sign in</v-card-title
                  >
                  <div
                    class="grey--text text--darken-3 body-2 text-center justify-center pt-0 pb-5"
                  >
                    Use your {{ companyName }} Account
                  </div>
                  <v-form ref="form" @submit.prevent="next()">
                    <v-text-field
                      v-model="email"
                      label="Email"
                      type="email"
                      outlined
                      :rules="[rules.required, rules.email]"
                      :error-messages="loginErrorMessage.detail"
                      @input="loginErrorMessage = {}"
                      autofocus
                      class="mt-3"
                    ></v-text-field>
                  </v-form>
                  <div class="mb-4 mt-2 caption grey--text text--darken-1">
                    <router-link
                      :to="{ name: 'forgot-password' }"
                      style="text-decoration: none"
                      >Forgot Email</router-link
                    >
                  </div>
                  <span class="caption grey--text text--darken-1">
                    This is the email you will use to login to your
                    {{ companyName }}
                    account
                  </span>
                </v-col>
              </v-row>
            </v-window-item>

            <v-window-item :value="2">
              <v-row class="mx-4">
                <v-col cols="12">
                  <v-card-title
                    class="grey--text text--darken-3 headline font-weight-regular justify-center"
                    >Welcome</v-card-title
                  >
                  <div
                    class="grey--text text--darken-3 body-2 text-center justify-center py-0 pb-5"
                  >
                    <v-chip outlined @click="back()">
                      <v-icon left>mdi-account-circle</v-icon>
                      {{ email }}
                    </v-chip>
                  </div>
                  <v-form
                    ref="form"
                    @submit.prevent="verifyLogin(email, password)"
                  >
                    <v-text-field
                      v-model="password"
                      label="Password"
                      :type="showPassword ? 'text' : 'password'"
                      outlined
                      :error-messages="
                        loginErrorMessage.password ||
                          loginErrorMessage.non_field_errors ||
                          loginErrorMessage.detail
                      "
                      :append-icon="
                        showPassword ? 'mdi-eye-outline' : 'mdi-eye-off-outline'
                      "
                      @click:append="showPassword = !showPassword"
                      @input="loginErrorMessage = {}"
                      autofocus
                      class="mt-3"
                    ></v-text-field>
                  </v-form>

                  <span class="caption grey--text text--darken-1"
                    >Please enter a password for your account</span
                  >
                </v-col>
              </v-row>
            </v-window-item>

            <v-window-item :value="3">
              <div class="pa-2 text-center">
                <v-img
                  class="mb-4"
                  contain
                  height="128"
                  :src="companyImage"
                ></v-img>
                <div class="caption grey--text mb-5">By Altoleap</div>
                <div>
                  <v-fade-transition
                    class="py-0"
                    tag="div"
                    group
                    mode="out-in"
                    leave-absolute
                  >
                    <v-progress-circular
                      :size="45"
                      color="primary"
                      indeterminate
                      key="loading"
                    ></v-progress-circular>
                    <!-- <span v-else key="message">{{ loginMessage || null }}</span> -->
                  </v-fade-transition>
                </div>
                <div>
                  <span
                    key="error"
                    v-if="userfetchErrorMessage"
                    class="red--text"
                    >{{ userfetchErrorMessage.detail }}</span
                  >
                </div>
              </div>
            </v-window-item>
          </v-window>
        </v-card-text>
      </v-col>
      <v-col cols="12" align="end" justify="end" class="mt-auto">
        <v-row no-gutters align="end" justify="end" class="px-6 pt-0">
          <v-col :cols="12" align="end" justify="end">
            <v-card-actions>
              <v-btn
                text
                :to="
                  step === 1
                    ? { name: 'signup', query: { service: 'create' } }
                    : null
                "
                @click="firstCardButton"
                class="text-capitalize"
                color="primary"
                >{{ firstButton }}</v-btn
              >
              <div class="flex-grow-1"></div>
              <v-btn
                v-if="step !== 3"
                color="primary"
                depressed
                ref="form"
                type="submit"
                @keyup.enter="secondCardButton"
                @click="secondCardButton"
                class="text-capitalize"
                >Next</v-btn
              >
            </v-card-actions>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-card>
</template>
<script lang="ts">
import {
  ref,
  reactive,
  computed,
  toRefs,
  onMounted,
  watch,
  createComponent
} from "@vue/composition-api";
// https://vue-hooks.netlify.com/?path=/story/useactions--docs
import { useRouter, useStore, useGetters } from "@u3u/vue-hooks";
import { get, sync } from "vuex-pathify";

export default createComponent({
  props: {},

  setup(props, { root }) {
    const { route, router } = useRouter();
    const store = useStore();
    const API = store.value.getters["api/API"];

    onMounted(() => {
      API.init();
    });

    const step = ref(1);
    let query = ref(route.value.query.service);

    // APP LEVEL FUNCTION AND VALUES
    const pause = (ms: number) =>
      new Promise(resolve => setTimeout(resolve, ms));
    const companyName = ref("Altoleap");
    const companyImage = require("@/assets/logos/expoleap_logo.png");

    const email = "lharris@leaplab.dev";
    const password = "Test1234!";
    const rules = {
      required: (value: any) => !!value || "Field Required.",
      counter: (value: { length: number }) =>
        value.length <= 20 || "Max 20 characters",
      email: (value: string) => {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return pattern.test(value) || "Invalid e-mail.";
      }
    };

    const loading = ref(false);
    const form = reactive({
      showPassword: false,
      firstButton: computed(() => {
        switch (step.value) {
          case 1:
            return "Create Account";
          case 2:
            return "Forgot Password";
          default:
            return "Back";
        }
      }),
      currentTitle: computed(() => {
        switch (step.value) {
          case 1:
            return "Sign-up";
          case 2:
            return "Create a password";
          default:
            return "Account created";
        }
      })
    });
    const back = async () => {
      await pause(10);
      return step.value--;
    };
    const next = async () => {
      await pause(10);
      return step.value++;
    };
    const firstCardButton = () => {
      switch (step.value) {
        case 2:
          return back();
        case 3:
          return (step.value = 1);
        default:
          return back();
      }
    };
    const secondCardButton = () => {
      switch (step.value) {
        case 1:
          return next();
        case 2:
          return verifyLogin(email, password);
        default:
          return "Account created";
      }
    };
    const verifyLogin = async (email?: string, password?: string) => {
      console.log("Login callback: started...");
      loading.value = true;
      await API.login(email, password)
        .then(({ user, token }: any) => {
          loading.value = false;
          userInfo.user = user;
        })
        .then(() => {
          next();
          loadPortal();
        })
        .catch(err => {
          loading.value = false;
          console.warn("ERROR:", err);
          errors.loginErrorMessage = err;
        })
        .finally(() => {
          console.log("Login callback: ended...");
        });
    };

    const errors = reactive({
      loginErrorMessage: {},
      emailErrorMessage: null,
      passwordErrorMessage: null
    });
    const fetchUserLoading = ref(false);
    const loginMessage = ref("");
    const userfetchErrorMessage = ref({});
    // to fetch user before rotuing to page ? no support for 2 api calls at once
    async function fetchCurrentUser(id: number) {
      console.log(id);
      await pause(1000);
    }
    const userInfo = reactive({
      user: {}
    });

    // Portal loader
    const loadPortal = async () => {
      await pause(1000);
      router.push({ name: "Select" });
    };
    return {
      userfetchErrorMessage,
      fetchUserLoading,
      loginMessage,
      // login comp
      email,
      password,
      rules,
      // login,
      verifyLogin,
      // login comp
      //FORM
      step,
      firstCardButton,
      secondCardButton,
      loading,
      companyImage,
      companyName,
      back,
      next,
      ...toRefs(form),
      ...toRefs(errors),
      ...toRefs(userInfo)
    };
  }
});
</script>
<style></style>
